pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_CUSTOMS_DEC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_CUSTOMS_DEC').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CALL_BSS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"requestBody": {
											"value": "@{concat('<env:Envelope\n  xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\n  xmlns:wsa=\"http://www.w3.org/2005/08/addressing\">\n <env:Header>\n  <wsa:MessageID>urn:4ADE20901BB311ECAF36A94D498CBA63</wsa:MessageID>\n  <wsa:ReplyTo>\n   <wsa:Address>http://www.w3.org/2005/08/addressing/anonymous</wsa:Address>\n   <wsa:ReferenceParameters>\n    <instra:tracking.ecid\n      xmlns:instra=\"http://xmlns.oracle.com/sca/tracking/1.0\">aecc4b16b297ce5e:20916429:17bf2543d95:-8000-0000000000101155</instra:tracking.ecid>\n    <instra:tracking.compositeInstanceCreatedTime\n      xmlns:instra=\"http://xmlns.oracle.com/sca/tracking/1.0\">2021-09-22T17:42:18.873+03:00</instra:tracking.compositeInstanceCreatedTime>\n   </wsa:ReferenceParameters>\n  </wsa:ReplyTo>\n  <wsa:FaultTo>\n   <wsa:Address>http://www.w3.org/2005/08/addressing/anonymous</wsa:Address>\n   <wsa:ReferenceParameters>\n    <instra:tracking.ecid\n      xmlns:instra=\"http://xmlns.oracle.com/sca/tracking/1.0\">aecc4b16b297ce5e:20916429:17bf2543d95:-8000-0000000000101155</instra:tracking.ecid>\n    <instra:tracking.compositeInstanceCreatedTime\n      xmlns:instra=\"http://xmlns.oracle.com/sca/tracking/1.0\">2021-09-22T17:42:18.873+03:00</instra:tracking.compositeInstanceCreatedTime>\n   </wsa:ReferenceParameters>\n  </wsa:FaultTo>\n </env:Header>\n <env:Body>\n  <GetCommercialPermitInfoResponse_Output\n    xmlns:ns0=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\"\n    xmlns=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\">\n   <ns0:commercialPermit>\n    <ns0:commercialRegistration>\n     <ns0:ID>','',item().CRNUMBER,'',</ns0:ID>\n     <ns0:branchNumber>0</ns0:branchNumber>\n    </ns0:commercialRegistration>\n    <ns0:establishmentCommercialName>\n     <ns0:nameArabic>ماجد الفطيم هايبر ماركتس</ns0:nameArabic>\n     <ns0:nameEnglish>MAJID AL FUTTAIM HYPERMARKETS</ns0:nameEnglish>\n    </ns0:establishmentCommercialName>\n    <ns0:issueDate>1999-07-17T00:00:00+03:00</ns0:issueDate>\n    <ns0:expiryDate>2022-07-02T00:00:00+03:00</ns0:expiryDate>\n    <ns0:municipalityName>\n     <ns0:nameArabic>بلدية الدوحة</ns0:nameArabic>\n     <ns0:nameEnglish>AL DOHA MUNICIPALITY</ns0:nameEnglish>\n    </ns0:municipalityName>\n    <ns0:location>\n     <ns0:street>\n      <ns0:number>850</ns0:number>\n      <ns0:name>\n       <ns0:nameArabic>850</ns0:nameArabic>\n       <ns0:nameEnglish>850</ns0:nameEnglish>\n      </ns0:name>\n     </ns0:street>\n     <ns0:zone>\n      <ns0:number>61</ns0:number>\n      <ns0:name>\n       <ns0:nameArabic>الدفنة + القصار</ns0:nameArabic>\n       <ns0:nameEnglish>AL DAFNA + AL QASSAR</ns0:nameEnglish>\n      </ns0:name>\n     </ns0:zone>\n    </ns0:location>\n    <ns0:commercialPermitID>26053</ns0:commercialPermitID>\n    <ns0:licenseeQID>27742201247</ns0:licenseeQID>\n    <ns0:licenseeName>محمد عارف عبدالحسين فرحات </ns0:licenseeName>\n    <ns0:licenseeNationality>لبنان</ns0:licenseeNationality>\n    <ns0:managerQID>26825000201</ns0:managerQID>\n    <ns0:managerName>بيار دانيال جون ماري غيليان</ns0:managerName>\n    <ns0:managerNationality>فرنسا</ns0:managerNationality>\n    <ns0:companyActivity>التجارة في زينة واكسسوارات السيارات ، التجارة في مواد البناء ، التجاره فى الادوات والعدد ، تجارة نظم الحاسب الالى ، التجاره فى مستلزمات الحيوانات الاليفه ، اغذية الطيور ، التجارة في مستلزمات النظافه ، التجارة فى الهواتف المستعملة ، التجارة فى اكسسوارات الهواتف ، التجاره فى الادوات والاجهزه الالكترونيه ، التجاره فى الكاسيت و اشرطة الفيديو ، التجاره فى الاسطوانات المدمجه واسطوانات الليزر ، مطعم ، تعبئة و تغليف المواد الغذائية ، ادارة وتشغيل متاجر هايبرماركت ، التجارة في الادوات الكهربائية ، التجاره فى متاجر غير متخصصه (السلع العموميه)و التى لاتكون المواد الغذائيه هى السائده فيها ، التجاره فى جميع انواع البلاستيك ، التجاره فى المجوهرات و الاحجار الكريمه ، التجارة في مستحضرات التجميل النسائية و أدوات الزينة والعناية بالشعر ، التجارة في العطور ، التجاره فى القرطاسيه والادوات المكتبية والكتابية ، التجارة في الأجهزة الكهربائية ، التجارة في المناديل الورقية ، تجارة الساعات وقطع غيارها ، التجاره فى التحف ، تجارة لعب الأطفال ، تجارة الهدايا ، التجاره فى الادوات والمستلزمات المنزليه ، التجارة في الأثاث المنزلي و المفروشات ، التجاره فى المنتجات الجلديه الاخرى -مثل حقائب السفر-محافظ ، تجارةالاحذية ، التجارة في الحقائب ، التجارة في الملابس الجاهزة ، التجاره فى الالبان ومنتجاتها ، التجاره فى اللحوم ومنتجاتها ، التجاره فى منتجات المخابز ، التجاره فى الحلويات السكريه والشيكولاته ، التجاره فى المشروبات الغازيه والعصائر ، التجارة في المواد التموينية ، التجارة في المواد الغذائية ، التجاره فى الفواكه والخضروات الطازجه ، التجاره فى الاسماك الطازجه ، المخابز الالية ، صناعة منتجات المخابز الطازجه او المجمده او الجافه (مخبز) ، التجارة في الزهور و الورود ، التحميض السريع للافلام ، معالجة افلام التصوير ، انشطة التصوير الفوتو غرافي ، التجاره فى البذور والشتلات والنباتات ، خدمات غسيل و جمع و توزيع الملابس ، التجارة فى الاعلاف ، التجارة عن طريق الانترنت ، التجارة في الدواجن المذبوحة ،</ns0:companyActivity>\n    <ns0:buildingOwner>شركة سيتي سنتر</ns0:buildingOwner>\n    <ns0:licenseType>جمعيه تعاونيه</ns0:licenseType>\n    <ns0:establishmentType>شركة</ns0:establishmentType>\n    <ns0:applicationNumber>\n     <ns0:municipalityID/>\n     <ns0:year/>\n     <ns0:number/>\n    </ns0:applicationNumber>\n   </ns0:commercialPermit>\n  </GetCommercialPermitInfoResponse_Output>\n </env:Body>\n</env:Envelope>')}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_soap",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dsqlp_parametric",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "dwh",
										"tableName": "STG_SOAP_DENEME"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP_CUSTOMS_DEC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select 1 from [dwh].[DWL_CUSTOMS_DECLARATION] WHERE FLG_SUPPLIER_CHECK=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsqlp_parametric",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dwh",
							"tableName": "DWL_CUSTOMS_DECLARATION"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}