pipeline/PL_ACT_RESUME_SQLPOOL.json
{
	"name": "PL_ACT_RESUME_SQLPOOL",
	"properties": {
		"description": "Pauses SQL pool",
		"activities": [
			{
				"name": "Until SQL POOL is Paused or Online",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Paused')),Bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Online')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check for changed SQLPool Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionID}/resourceGroups/@{pipeline().parameters.Synapse_ResourceGroupName}/providers/Microsoft.Synapse/workspaces/@{pipeline().parameters.SynapseWorkspace}/sqlPools/@{pipeline().parameters.SynapseDedicatedSQLPool}/?api-version=2019-06-01-preview",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "Wait before checking again",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Check for changed SQLPool Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitTimeUntil",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "00.20:00:00"
				}
			},
			{
				"name": "Check if SQL POOL is Paused",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until SQL POOL is Paused or Online",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Paused'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Resume SQL POOL",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionID}/resourceGroups/@{pipeline().parameters.Synapse_ResourceGroupName}/providers/Microsoft.Synapse/workspaces/@{pipeline().parameters.SynapseWorkspace}/sqlPools/@{pipeline().parameters.SynapseDedicatedSQLPool}/@{pipeline().parameters.Action}?api-version=2019-06-01-preview",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"headers": {
									"Nothing": "\"Nothing\""
								},
								"body": {
									"value": "@concat('{','}')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "Wait before Continue",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Resume SQL POOL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitTime",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Action": {
				"type": "string",
				"defaultValue": "Resume"
			},
			"WaitTime": {
				"type": "int",
				"defaultValue": 10
			},
			"WaitTimeUntil": {
				"type": "int",
				"defaultValue": 30
			},
			"Synapse_ResourceGroupName": {
				"type": "string",
				"defaultValue": "rg-psmsii-dt-001"
			},
			"SynapseWorkspace": {
				"type": "string",
				"defaultValue": "synpsmsiidt001ws1"
			},
			"SynapseDedicatedSQLPool": {
				"type": "string",
				"defaultValue": "dsqlppsmsiidt01"
			},
			"SubscriptionId": {
				"type": "string",
				"defaultValue": "047cf264-f2a3-43e7-b2e5-1ab1fc225ba1"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-04-21T14:10:28Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}