pipeline/PL_BSS_3.json
{
	"name": "PL_BSS_3",
	"properties": {
		"activities": [
			{
				"name": "CopyFromBSS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_CUSTOMS_DEC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_CUSTOMS_DEC').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Permit-Entity Main Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Registration",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"additionalColumns": [
										{
											"name": "BRANCH_CR",
											"value": {
												"value": "@item().DS_SUPPLIER_CR",
												"type": "Expression"
											}
										},
										{
											"name": "BRANCH_STATUS",
											"value": "'Active'"
										},
										{
											"name": "MainCRNumber",
											"value": {
												"value": "@item().DS_SUPPLIER_CR",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"detectDataType": false,
										"namespaces": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:commercialRegistration']['ns0:ID']"
											},
											"sink": {
												"name": "CRNUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:commercialRegistration']['ns0:branchNumber']"
											},
											"sink": {
												"name": "BRANCHNUMBER",
												"type": "Int16"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:establishmentCommercialName']['ns0:nameArabic']"
											},
											"sink": {
												"name": "COMPANY_ARB",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:establishmentCommercialName']['ns0:nameEnglish']"
											},
											"sink": {
												"name": "COMPANY_ENG",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:municipalityName']['ns0:nameArabic']"
											},
											"sink": {
												"name": "MUNICIPALITY_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:street']['ns0:number']"
											},
											"sink": {
												"name": "STREET_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:street']['ns0:name']['ns0:nameArabic']"
											},
											"sink": {
												"name": "STREET_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:zone']['ns0:number']"
											},
											"sink": {
												"name": "ZONE_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:zone']['ns0:name']['ns0:nameArabic']"
											},
											"sink": {
												"name": "ZONE_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:managerQID']"
											},
											"sink": {
												"name": "MANAGER_QID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:managerName']"
											},
											"sink": {
												"name": "MANAGER_NAME",
												"type": "String"
											}
										}
									],
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "BSS_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BSS_Registration_DS",
									"type": "DatasetReference",
									"parameters": {
										"dsparamFileName": "@item().DS_SUPPLIER_CR"
									}
								}
							]
						},
						{
							"name": "Registration",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"additionalColumns": [
										{
											"name": "MainCRNumber",
											"value": {
												"value": "@pipeline().parameters.CR_Number",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": "Content-Type: text/xml;charset=UTF-8\nSOAPAction: \"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment/StartServiceCommercialRegistration\"",
										"requestBody": {
											"value": "@{replace('<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:onep=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <onep:GetCommercialRegistrationInfoRequest_Input>\n         <onep:commercialRegistrationCode>?paramCR</onep:commercialRegistrationCode>\n         <onep:RefNumber></onep:RefNumber>\n      </onep:GetCommercialRegistrationInfoRequest_Input>\n   </soapenv:Body>\n</soapenv:Envelope>','?paramCR',item().DS_SUPPLIER_CR)}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['ns0:serialNumber']"
											},
											"sink": {
												"name": "BRANCH_CR",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ns0:statuses']['ns0:code']"
											},
											"sink": {
												"name": "BRANCH_STATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['MainCRNumber']"
											},
											"sink": {
												"name": "MainCRNumber",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['env:Envelope']['env:Body']['GetCommercialRegistrationInfoResponse_Output']['ns0:commercialRegistration']['ns0:branches']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "BSS_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BSS_Registration_DS",
									"type": "DatasetReference",
									"parameters": {
										"dsparamFileName": {
											"value": "@item().DS_SUPPLIER_CR",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP_CUSTOMS_DEC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT\nDS_SUPPLIER_CR\nFROM [dwh].[DWL_CUSTOMS_DECLARATION] WHERE FLG_SUPPLIER_CHECK=1\nAND DS_SUPPLIER_CR IS NOT NULL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsqlp_parametric",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dwh",
							"tableName": "DWL_CUSTOMS_DECLARATION"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "PL_CUSTOM"
		},
		"annotations": []
	}
}