pipeline/PL_BSS.json
{
	"name": "PL_BSS",
	"properties": {
		"activities": [
			{
				"name": "CopyFromBSS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_CUSTOMS_DEC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_CUSTOMS_DEC').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Registration",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"additionalColumns": [
										{
											"name": "MainCRNumber",
											"value": {
												"value": "@item().DS_SUPPLIER_CR",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": "Content-Type: text/xml;charset=UTF-8\nSOAPAction: \"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment/StartServiceCommercialRegistration\"",
										"requestBody": {
											"value": "@{replace('<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:onep=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <onep:GetCommercialRegistrationInfoRequest_Input>\n         <onep:commercialRegistrationCode>?paramCR</onep:commercialRegistrationCode>\n         <onep:RefNumber></onep:RefNumber>\n      </onep:GetCommercialRegistrationInfoRequest_Input>\n   </soapenv:Body>\n</soapenv:Envelope>','?paramCR',item().DS_SUPPLIER_CR)}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialRegistrationInfoResponse_Output']['ns0:commercialRegistration']['ns0:commercialRegistrationCode']"
											},
											"sink": {
												"name": "BRANCH_CR",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialRegistrationInfoResponse_Output']['ns0:commercialRegistration']['ns0:statuses']['ns0:code']"
											},
											"sink": {
												"name": "BRANCH_STATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['MainCRNumber']"
											},
											"sink": {
												"name": "MainCRNumber",
												"type": "String"
											}
										}
									],
									"collectionReference": "",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "BSS_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BSS_Registration_DS",
									"type": "DatasetReference",
									"parameters": {
										"dsparamFileName": {
											"value": "@concat(replace(item().DS_SUPPLIER_CR,'/','-'),'_regtemp.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP_CUSTOMS_DEC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT JSON_VALUE(concat('[\"', REPLACE(CD.DS_SUPPLIER_CR, '/', '\",\"'), '\"]'), '$[0]') AS DS_SUPPLIER_CR FROM [dwh].[DWL_CUSTOMS_DECLARATION] AS CD\nWHERE FLG_SUPPLIER_CHECK=1\nAND DS_SUPPLIER_CR IS NOT NULL AND NOT EXISTS(\nSELECT 1 FROM dwh.DWL_ENTITY \ninner JOIN [dwh].[DWL_CUSTOMS_DECLARATION] AS CD\non DS_ENTITY_CR =JSON_VALUE(concat('[\"', REPLACE(CD.DS_SUPPLIER_CR, '/', '\",\"'), '\"]'), '$[0]')\n)\nUNION  \nSELECT DS_SUPPLIER_CR FROM [dwh].[DWL_CUSTOMS_DECLARATION]\nWHERE FLG_SUPPLIER_CHECK=1\nAND DS_SUPPLIER_CR IS NOT NULL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsqlp_parametric",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dwh",
							"tableName": "DWL_CUSTOMS_DECLARATION"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopyFromBSS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_BSS_Registiration_Process",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime10min",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "BSS_Source_CR_List.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_BSS_Files_Folder",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Registration Call",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"additionalColumns": [
										{
											"name": "MainCRNumber",
											"value": {
												"value": "@item().MainCRNumber",
												"type": "Expression"
											}
										},
										{
											"name": "CRNumber",
											"value": {
												"value": "@item().BRANCH_CR",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": "Content-Type: text/xml;charset=UTF-8\nSOAPAction: \"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment/StartServiceCommercialRegistration\"",
										"requestBody": {
											"value": "@{replace('<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:onep=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <onep:GetCommercialRegistrationInfoRequest_Input>\n         <onep:commercialRegistrationCode>?paramCR</onep:commercialRegistrationCode>\n         <onep:RefNumber></onep:RefNumber>\n      </onep:GetCommercialRegistrationInfoRequest_Input>\n   </soapenv:Body>\n</soapenv:Envelope>','?paramCR',item().BRANCH_CR)}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialRegistrationInfoResponse_Output']['ns0:commercialRegistration']['ns0:addressPOBox']"
											},
											"sink": {
												"name": "POBox",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialRegistrationInfoResponse_Output']['ns0:commercialRegistration']['ns0:telephone']"
											},
											"sink": {
												"name": "Telephone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['MainCRNumber']"
											},
											"sink": {
												"name": "MainCRNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['CRNumber']"
											},
											"sink": {
												"name": "CRNumber",
												"type": "String"
											}
										}
									],
									"collectionReference": "",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "BSS_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BSS_Registration_DS",
									"type": "DatasetReference",
									"parameters": {
										"dsparamFileName": {
											"value": "@concat(replace(item().BRANCH_CR,'/','-'),'_registration.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Permit-Entity Main Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"additionalColumns": [
										{
											"name": "CRNumber_Key",
											"value": {
												"value": "@item().BRANCH_CR",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": "Content-Type: text/xml;charset=UTF-8\nSOAPAction: \"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment/StartServiceCommercialPermit\"",
										"requestBody": {
											"value": "@{replace('<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n    <soap:Body>\n        <ns1:GetCommercialPermitInfoRequest_Input xmlns:ns1=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\">\n            <ns1:commercialPermitID></ns1:commercialPermitID>\n            <ns1:commercialRegistration>\n                <ns1:ID>?paramCR</ns1:ID>\n                <ns1:branchNumber></ns1:branchNumber>\n            </ns1:commercialRegistration>\n            <ns1:RefNumber></ns1:RefNumber>\n        </ns1:GetCommercialPermitInfoRequest_Input>\n    </soap:Body>\n</soap:Envelope>','?paramCR',item().BRANCH_CR)}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"detectDataType": false,
										"namespaces": true
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:commercialRegistration']['ns0:ID']"
											},
											"sink": {
												"name": "CRNUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:commercialRegistration']['ns0:branchNumber']"
											},
											"sink": {
												"name": "BRANCHNUMBER",
												"type": "Int16"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:establishmentCommercialName']['ns0:nameArabic']"
											},
											"sink": {
												"name": "COMPANY_ARB",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:establishmentCommercialName']['ns0:nameEnglish']"
											},
											"sink": {
												"name": "COMPANY_ENG",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:municipalityName']['ns0:nameArabic']"
											},
											"sink": {
												"name": "MUNICIPALITY_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:street']['ns0:number']"
											},
											"sink": {
												"name": "STREET_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:street']['ns0:name']['ns0:nameArabic']"
											},
											"sink": {
												"name": "STREET_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:zone']['ns0:number']"
											},
											"sink": {
												"name": "ZONE_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:zone']['ns0:name']['ns0:nameEnglish']"
											},
											"sink": {
												"name": "ZONE_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:managerQID']"
											},
											"sink": {
												"name": "MANAGER_QID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:managerName']"
											},
											"sink": {
												"name": "MANAGER_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['CRNumber_Key']"
											},
											"sink": {
												"name": "CRNumber_Key",
												"type": "String"
											}
										}
									],
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "BSS_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BSS_Permit_DS",
									"type": "DatasetReference",
									"parameters": {
										"dsparamFileName": {
											"value": "@concat(replace(item().BRANCH_CR,'/','-'),'_permit.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Data flow2",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_BSS_Registiration_Process_copy1",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime10min",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Data flow3",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Data flow2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_BSS_Registiration_Process_copy2",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "ls_psmsii_syntodls",
							"type": "LinkedServiceReference"
						},
						"folderPath": "stagingarea"
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime10min",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Data flow3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT MAIN_CRNUMBER,\n       BRANCHNUMBER,\n       COMPANY_ARB,\n       COMPANY_ENG,\n       MUNICIPALITY_NAME,\n       STREET_NUMBER,\n       STREET_NAME,\n       ZONE_NUMBER,\n       ZONE_NAME,\n       --MANAGER_QID,\n       --MANAGER_NAME,\n       POBox,\n       Telephone,\n       CRNumber,\n\t   CASE BRANCHNUMBER WHEN 0 THEN 'Main' ELSE 'Branch' END AS RecordTypeName,\n\t   'Suppliers' AS EntityTypeName\n\t   FROM [tmp].[STG_BSS_DATA]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_stg_warehouse_raw",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "PL_CUSTOM"
		},
		"annotations": []
	}
}