pipeline/PL_BSS_4.json
{
	"name": "PL_BSS_4",
	"properties": {
		"activities": [
			{
				"name": "LKP_CUSTOMS_DEC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT DISTINCT \n'16070/50' as DS_SUPPLIER_CR\nFROM [dwh].[DWL_CUSTOMS_DECLARATION] /*WHERE FLG_SUPPLIER_CHECK=1\nAND DS_SUPPLIER_CR IS NOT NULL*/",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsqlp_parametric",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dwh",
							"tableName": "DWL_CUSTOMS_DECLARATION"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Data flow3",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Registration Call_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_BSS_Registiration_Process_copy2",
						"type": "DataFlowReference",
						"parameters": {
							"SourceCR": {
								"value": "'@{activity('LKP_CUSTOMS_DEC').output.value}'",
								"type": "Expression"
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "ls_psmsii_syntodls",
							"type": "LinkedServiceReference"
						},
						"folderPath": "stagingarea"
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime10min",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Registration Call_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Permit-Entity Main Data_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "MainCRNumber",
								"value": {
									"value": "@activity('LKP_CUSTOMS_DEC').output.value",
									"type": "Expression"
								}
							},
							{
								"name": "CRNumber",
								"value": {
									"value": "@activity('LKP_CUSTOMS_DEC').output.value",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": "Content-Type: text/xml;charset=UTF-8\nSOAPAction: \"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment/StartServiceCommercialRegistration\"",
							"requestBody": {
								"value": "@{replace('<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:onep=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <onep:GetCommercialRegistrationInfoRequest_Input>\n         <onep:commercialRegistrationCode>?paramCR</onep:commercialRegistrationCode>\n         <onep:RefNumber></onep:RefNumber>\n      </onep:GetCommercialRegistrationInfoRequest_Input>\n   </soapenv:Body>\n</soapenv:Envelope>','?paramCR',activity('LKP_CUSTOMS_DEC').output.value)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialRegistrationInfoResponse_Output']['ns0:commercialRegistration']['ns0:addressPOBox']"
								},
								"sink": {
									"name": "POBox",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialRegistrationInfoResponse_Output']['ns0:commercialRegistration']['ns0:telephone']"
								},
								"sink": {
									"name": "Telephone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MainCRNumber']"
								},
								"sink": {
									"name": "MainCRNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CRNumber']"
								},
								"sink": {
									"name": "CRNumber",
									"type": "String"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "BSS_Dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BSS_Registration_DS",
						"type": "DatasetReference",
						"parameters": {
							"dsparamFileName": {
								"value": "@concat(replace(activity('LKP_CUSTOMS_DEC').output.value,'/','-'),'_registration.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Permit-Entity Main Data_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_CUSTOMS_DEC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"additionalColumns": [
							{
								"name": "CRNumber_Key",
								"value": {
									"value": "@activity('LKP_CUSTOMS_DEC').output.value",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": "Content-Type: text/xml;charset=UTF-8\nSOAPAction: \"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment/StartServiceCommercialPermit\"",
							"requestBody": {
								"value": "@{replace('<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n    <soap:Body>\n        <ns1:GetCommercialPermitInfoRequest_Input xmlns:ns1=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\">\n            <ns1:commercialPermitID></ns1:commercialPermitID>\n            <ns1:commercialRegistration>\n                <ns1:ID>?paramCR</ns1:ID>\n                <ns1:branchNumber></ns1:branchNumber>\n            </ns1:commercialRegistration>\n            <ns1:RefNumber></ns1:RefNumber>\n        </ns1:GetCommercialPermitInfoRequest_Input>\n    </soap:Body>\n</soap:Envelope>','?paramCR',activity('LKP_CUSTOMS_DEC').output.value)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"detectDataType": false,
							"namespaces": true
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:commercialRegistration']['ns0:ID']"
								},
								"sink": {
									"name": "CRNUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:commercialRegistration']['ns0:branchNumber']"
								},
								"sink": {
									"name": "BRANCHNUMBER",
									"type": "Int16"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:establishmentCommercialName']['ns0:nameArabic']"
								},
								"sink": {
									"name": "COMPANY_ARB",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:establishmentCommercialName']['ns0:nameEnglish']"
								},
								"sink": {
									"name": "COMPANY_ENG",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:municipalityName']['ns0:nameArabic']"
								},
								"sink": {
									"name": "MUNICIPALITY_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:street']['ns0:number']"
								},
								"sink": {
									"name": "STREET_NUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:street']['ns0:name']['ns0:nameArabic']"
								},
								"sink": {
									"name": "STREET_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:zone']['ns0:number']"
								},
								"sink": {
									"name": "ZONE_NUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:location']['ns0:zone']['ns0:name']['ns0:nameEnglish']"
								},
								"sink": {
									"name": "ZONE_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:managerQID']"
								},
								"sink": {
									"name": "MANAGER_QID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['env:Envelope']['env:Body']['GetCommercialPermitInfoResponse_Output']['ns0:commercialPermit']['ns0:managerName']"
								},
								"sink": {
									"name": "MANAGER_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CRNumber_Key']"
								},
								"sink": {
									"name": "CRNumber_Key",
									"type": "String"
								}
							}
						],
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "BSS_Dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BSS_Permit_DS",
						"type": "DatasetReference",
						"parameters": {
							"dsparamFileName": {
								"value": "@concat(replace(activity('LKP_CUSTOMS_DEC').output.value,'/','-'),'_permit.csv')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"folder": {
			"name": "PL_CUSTOM"
		},
		"annotations": []
	}
}