pipeline/PL_BSS_2.json
{
	"name": "PL_BSS_2",
	"properties": {
		"activities": [
			{
				"name": "CopyFromBSS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_CUSTOMS_DEC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_CUSTOMS_DEC').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute PL_BSS_CHILD_SERVICE_CALL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BSS_CHILD_SERVICE_CALL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"CR_Number": {
										"value": "@item().DS_SUPPLIER_CR",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LKP_CUSTOMS_DEC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT\nDS_SUPPLIER_CR\nFROM [dwh].[DWL_CUSTOMS_DECLARATION] WHERE FLG_SUPPLIER_CHECK=1\nAND DS_SUPPLIER_CR IS NOT NULL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsqlp_parametric",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dwh",
							"tableName": "DWL_CUSTOMS_DECLARATION"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "16070_registration.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_BSS_Files_Folder",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "PL_CUSTOM"
		},
		"annotations": []
	}
}