pipeline/PL_CSV_TO_STG_ALLTRANSACTIONS.json
{
	"name": "PL_CSV_TO_STG_ALLTRANSACTIONS",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get file list from processing container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dls_processing_csv_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach11",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ls_psmsii_syntodls",
										"type": "LinkedServiceReference"
									},
									"path": "stagingarea"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "RationDate",
												"type": "String"
											},
											"sink": {
												"name": "RationDate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Group Code",
												"type": "String"
											},
											"sink": {
												"name": "Group Code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OperationType",
												"type": "String"
											},
											"sink": {
												"name": "OperationType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Supply/Distribution",
												"type": "String"
											},
											"sink": {
												"name": "Supply/Distribution",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FromAccountCR",
												"type": "String"
											},
											"sink": {
												"name": "FromAccountCR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ToAccountCR",
												"type": "String"
											},
											"sink": {
												"name": "ToAccountCR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Amount",
												"type": "String"
											},
											"sink": {
												"name": "Amount",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CustomDeclarationNo",
												"type": "String"
											},
											"sink": {
												"name": "CustomDeclarationNo",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "dls_processing_csv_copy1",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_stg_transactions_copy1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Dev"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-20T12:55:14Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}