pipeline/PL_CSV_TO_STG_ALLTRANSACTIONS.json
{
	"name": "PL_CSV_TO_STG_ALLTRANSACTIONS",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get file list from processing container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dls_processing_csv_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach11",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "SK_ID",
											"value": "1"
										},
										{
											"name": "STG_FILENAME",
											"value": {
												"value": "@item().name\n",
												"type": "Expression"
											}
										},
										{
											"name": "STG_FILETIME",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"fileListPath": "processing",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ls_psmsii_syntodls",
										"type": "LinkedServiceReference"
									},
									"path": "processing"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Transaction Date - تاريخ الحركة ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_YEARMONTHDAY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Transaction Type Code - كود نوع الحركة",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_TRANSACTION_TYPE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Item Code - كود الصنف",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_ITEM_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Item Barcode - باركود الصنف",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_ITEM_BARCODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Your Company CR# - رقم السجل التجارى للشركة",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_ENTITY_CR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Other Entity CR# - رقم السجل التجارى للطرف الاخر",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_CUSTOMER_ENTITY_CR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Company Store/Inventory Code - رقم المخزن ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_COMPANY_STORE_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Quantity - الكمية",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MT_QUANTITY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Selling Price per unit - سعر البيع للوحدة  -",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MT_DISCOUNT_AMOUNT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Comon Referance No. -  رقم المرجع المشترك",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_COMMON_REF_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Internal Transfer Number/Code - رقم التحويل الداخلي",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_TRANSFER_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Number of Consumer Invoices - عدد فواتير البيع للمستهلك",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_INVOICE_NUMBER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dls_processing_csv_copy1",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_stg_transactions_copy1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Dev"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-20T12:55:14Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}