pipeline/PL_DENE_XML.json
{
	"name": "PL_DENE_XML",
	"properties": {
		"activities": [
			{
				"name": "GetXMLFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_custom_xml",
						"type": "DatasetReference",
						"parameters": {
							"xmlfileName": "Declaration*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetXMLFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetXMLFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_Dec",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ReleaseNotification']['NotificationSender']"
											},
											"sink": {
												"name": "NotificationSender",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['NotificationRef']"
											},
											"sink": {
												"name": "NotificationRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['NotificationDate']"
											},
											"sink": {
												"name": "NotificationDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['declarationNo']"
											},
											"sink": {
												"name": "declarationNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['declarationStatus']"
											},
											"sink": {
												"name": "declarationStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['declarationType']"
											},
											"sink": {
												"name": "declarationType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['releaseOrderNumber']"
											},
											"sink": {
												"name": "releaseOrderNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['releasedDate']"
											},
											"sink": {
												"name": "releasedDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['supplierCR']"
											},
											"sink": {
												"name": "supplierCR",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['supplierCustomsCode']"
											},
											"sink": {
												"name": "supplierCustomsCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['countryOfLoading']"
											},
											"sink": {
												"name": "countryOfLoading",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['firstCountryOfLoading']"
											},
											"sink": {
												"name": "firstCountryOfLoading",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['accountType']"
											},
											"sink": {
												"name": "accountType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['companyName']"
											},
											"sink": {
												"name": "companyName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['establishmentId']"
											},
											"sink": {
												"name": "establishmentId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['companyNameAr']"
											},
											"sink": {
												"name": "companyNameAr",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['email']"
											},
											"sink": {
												"name": "email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['address']"
											},
											"sink": {
												"name": "address",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['portType']"
											},
											"sink": {
												"name": "portType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['entryOrExitPortName']"
											},
											"sink": {
												"name": "entryOrExitPortName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['clearingAgencyCR']"
											},
											"sink": {
												"name": "clearingAgencyCR",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['clearingAgencyNameEng']"
											},
											"sink": {
												"name": "clearingAgencyNameEng",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['clearingAgencyNameAR']"
											},
											"sink": {
												"name": "clearingAgencyNameAR",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['portOfLoading']"
											},
											"sink": {
												"name": "portOfLoading",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['importerName']"
											},
											"sink": {
												"name": "importerName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['exporterName']"
											},
											"sink": {
												"name": "exporterName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['bolNumber']"
											},
											"sink": {
												"name": "bolNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['masterBolOrAWBNumber']"
											},
											"sink": {
												"name": "masterBolOrAWBNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['cargoManifestNumber']"
											},
											"sink": {
												"name": "cargoManifestNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['voyageOrFlightNumber']"
											},
											"sink": {
												"name": "voyageOrFlightNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['carrierName']"
											},
											"sink": {
												"name": "carrierName",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_custom_xml",
									"type": "DatasetReference",
									"parameters": {
										"xmlfileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsqlp_parametric",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "dwh",
										"tableName": "STG_CUSTOMS_DEC"
									}
								}
							]
						},
						{
							"name": "Copy_Supv",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy_Dec",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"detectDataType": true,
										"namespaces": true
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['declarationNo']"
											},
											"sink": {
												"name": "declarationNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['SupervisorDetails']['Supervisor'][0]['name']"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['SupervisorDetails']['Supervisor'][0]['mobileNumber']"
											},
											"sink": {
												"name": "mobileNumber",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "ds_custom_xml",
									"type": "DatasetReference",
									"parameters": {
										"xmlfileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsqlp_parametric",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "dwh",
										"tableName": "STG_CUSTOMS_SUPV"
									}
								}
							]
						},
						{
							"name": "Copy_Item",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy_Supv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"detectDataType": true,
										"namespaces": true
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['declarationNo']"
											},
											"sink": {
												"name": "declarationNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['ItemDetails']['Item'][0]['hscode']"
											},
											"sink": {
												"name": "hscode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['ItemDetails']['Item'][0]['itemQuantity']"
											},
											"sink": {
												"name": "itemQuantity",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['ItemDetails']['Item'][0]['itemQuantityUOM']"
											},
											"sink": {
												"name": "itemQuantityUOM",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['ItemDetails']['Item'][0]['netWeight']"
											},
											"sink": {
												"name": "netWeight",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['ItemDetails']['Item'][0]['netWeightUOM']"
											},
											"sink": {
												"name": "netWeightUOM",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['ItemDetails']['Item'][0]['countryOfOrigin']"
											},
											"sink": {
												"name": "countryOfOrigin",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['ItemDetails']['Item'][0]['declaredValue']"
											},
											"sink": {
												"name": "declaredValue",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['ItemDetails']['Item'][0]['foreignCurrency']"
											},
											"sink": {
												"name": "foreignCurrency",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ReleaseNotification']['Declaration']['ItemDetails']['Item'][0]['declaredValueQAR']"
											},
											"sink": {
												"name": "declaredValueQAR",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "ds_custom_xml",
									"type": "DatasetReference",
									"parameters": {
										"xmlfileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsqlp_parametric",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "dwh",
										"tableName": "STG_CUSTOMS_ITEM"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Dev"
		},
		"annotations": []
	}
}