pipeline/PL_STG_FILE_LIST_INS.json
{
	"name": "PL_STG_FILE_LIST_INS",
	"properties": {
		"description": "Insert file names to stg file list table from processing container ",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get file list from processing container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dls_processing_csv_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "truncateStgTransactions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "df_stg_file_list",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_stg_file_list_ins",
									"type": "DataFlowReference",
									"parameters": {
										"itemname": {
											"value": "'@{item().name}'",
											"type": "Expression"
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime10min",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "None",
								"cacheSinks": {
									"firstRowOnly": true
								}
							}
						}
					]
				}
			},
			{
				"name": "truncateStgTransactions",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "truncate table [dwh].[STG_FILE_LIST];\nselect 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_stg_transactions",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "PL_MAIN"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-26T14:24:08Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}