pipeline/PL_XLS_TO_STG_transaction_type.json
{
	"name": "PL_XLS_TO_STG_transaction_type",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get file list from  container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dls_input_xls_parametric",
						"type": "DatasetReference",
						"parameters": {
							"filename": "*",
							"folderName": "TransactionType",
							"SheetIndex": 0
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "truncatestgCRTransactionType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "df_xls_to_stg_transaction_type",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_xls_to_stg_transaction_type",
									"type": "DataFlowReference",
									"parameters": {
										"fileName": {
											"value": "'@{item().name}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"srcTransactionType": {
											"filename": "@item().name",
											"folderName": "TransactionType",
											"SheetIndex": 0
										},
										"stgTransactionType": {
											"schemaName": "dwh",
											"tableName": "STG_CR_TRANSACTION_TYPE"
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "ls_psmsii_syntodls",
										"type": "LinkedServiceReference"
									},
									"folderPath": "stagingarea"
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime10min",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Coarse"
							}
						}
					]
				}
			},
			{
				"name": "truncatestgCRTransactionType",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "truncate table [dwh].[STG_CR_TRANSACTION_TYPE];\nselect 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsqlp_parametric",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dwh",
							"tableName": "STG_CR_TRANSACTION_TYPE"
						}
					}
				}
			}
		],
		"folder": {
			"name": "PL_INITIAL_LOAD/TRANSACTION_TYPE"
		},
		"annotations": []
	}
}