pipeline/PL_XLSX_TO_STG.json
{
	"name": "PL_XLSX_TO_STG",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get file list from processing container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dls_processing_xls",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IsFileNameCorrect",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "lookupFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(if(\nempty(activity('lookupFileName').output.value)\n,0,1),1)\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Send E_Mail",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": "https://lapp-psmsii-dt-westeu-004.azurewebsites.net:443/api/lappwf_psmsii_dt_003/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gfkqhHVGM0XUwIyFoLgEKxzhSohusGVbGzkbginsRcg",
											"connectVia": {
												"referenceName": "integrationRuntime10min",
												"type": "IntegrationRuntimeReference"
											},
											"method": "POST",
											"body": {
												"value": "{\"EmailType\":\"NotExpectedFile\"}",
												"type": "Expression"
											},
											"disableCertValidation": false
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "df_xlsx_to_stg",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "1.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "df_xlsx_to_stg",
												"type": "DataFlowReference",
												"parameters": {
													"fileName": {
														"value": "'@{item().name}'",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"source1": {
														"FileName": "@item().name"
													}
												}
											},
											"staging": {
												"linkedService": {
													"referenceName": "ls_psmsii_syntodls",
													"type": "LinkedServiceReference"
												},
												"folderPath": "stagingarea"
											},
											"integrationRuntime": {
												"referenceName": "integrationRuntime10min",
												"type": "IntegrationRuntimeReference"
											},
											"traceLevel": "Coarse"
										}
									}
								]
							}
						},
						{
							"name": "lookupFileName",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT 1 as lkp_id\n  FROM [etl].[DWL_FILE_LIST] where DS_FILENAME= ','''',item().name,'''') ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_dwl_file_list",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"folder": {
			"name": "PL_MAIN"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-20T12:55:14Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}