pipeline/PL_XLS_TO_STG_contact.json
{
	"name": "PL_XLS_TO_STG_contact",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get file list from processing container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dls_input_entity_xls",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "df_xls_to_stg_contacts",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_xls_to_stg_contact",
									"type": "DataFlowReference",
									"parameters": {
										"fileName": {
											"value": "'@{item().name}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"inputcontactcontainer": {
											"filename": "@item().name"
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "ls_psmsii_syntodls",
										"type": "LinkedServiceReference"
									},
									"folderPath": "stagingarea"
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime10min",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Coarse"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "PL_INITIAL_LOAD/ENTITY/CONTACT"
		},
		"annotations": []
	}
}