pipeline/PL_XLSX_TO_STG_production_copy.json
{
	"name": "PL_XLSX_TO_STG_production_copy",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get file list from processing container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dls_processing_xlsx_product_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "FileName",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Item Code\nرقم الصنف",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ITEM_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Barcode\nالباركود",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "BARCODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Product Name Arabic\nاسم الصنف عربى",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PRODUCT_NAME_ARABIC",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Description Arabic\nوصف الصنف عربى",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DESCRIPTION_ARABIC",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Product Name Arabic\nاسم الصنف انجليزى",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PRODUCT_NAME_ENGLISH",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Description Arabic\nوصف الصنف انجليزى",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DESCRIPTION_ENGLISH",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Unit Item Barcode\nالباركود للوحدة ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "UNIT_ITEM_BARCODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "No Of Unit Items\nعدد الوحدات",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "NO_OF_UNIT_ITEMS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Unit Weight/size\nوزن/سعة الوحدة",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "UNIT_WEIGHT_SIZE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Unit UOM\nوحدة القياس",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "UNIT_UOM",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Package UOM\nوحدة قياس الحزمة-التغليف",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PACKAGE_UOM",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Cost Price\nسعر التكلفة",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "COST_PRICE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Selling Price\nسعر البيع",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SELLING_PRICE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Brand-Trade Mark English\nاسم العلامة التجارية انجليزى",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "BRAND_TRADE_MARK_ENGLISH",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Brand-Trade Mark Arabic\nاسم العلامة التجارية عربى",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "BRAND_TRADE_MARK_ARABIC",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MoCI Product Group\nالمجموعة السلعية - بالوزارة",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MOCI_PRODUCT_GROUP",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Country of Oragen Name\nاسم بلد المنشأ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "COUNTRY_OF_ORAGEN_NAME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Country of Oragen ISO\nكود 3 لبلد المنشأ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "COUNTRY_OF_ORAGEN_ISO",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "HS Code\nرمز المنسق الجمركي",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HS_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Supplier CR\nرقم السجل التجارى للمورد",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SUPPLIER_CR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Supplier Name\nاسم المورد",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SUPPLIER_NAME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Category Level 1\nتصنيف السلعة 1",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CATEGORY_LEVEL_1_1",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Category Level 1\nتصنيف السلعة 2",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CATEGORY_LEVEL_1_2",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Category Level 1\nتصنيف السلعة 3",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CATEGORY_LEVEL_1_3",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Category Level 1\nتصنيف السلعة 4",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CATEGORY_LEVEL_1_4",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Width\nالعرض",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "WIDTH",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Height\nالطول",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HEIGHT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Depth\nالارتفاع",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DEPTH",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FileName",
												"type": "String"
											},
											"sink": {
												"name": "DS_FILENAME",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dls_processing_xlsx_product",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_stg_productions",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"folder": {
			"name": "Dev"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-20T12:55:14Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}