dfpsmsiidt001/PartialArmTemplates/ArmTemplate_8_1_2021_13_43_29.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfpsmsiidt001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CSV_TO_STG_ALLTRANSACTIONS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get file list from processing container",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dls_processing_csv_folder",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach11",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": true
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_psmsii_syntodls",
												"type": "LinkedServiceReference"
											},
											"path": "stagingarea"
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Transaction Date - تاريخ الحركة ",
														"type": "String"
													},
													"sink": {
														"name": "ID_YEARMONTHDAY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Transaction Type Code - كود نوع الحركة",
														"type": "String"
													},
													"sink": {
														"name": "ID_TRANSACTION_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Item Code - كود الصنف",
														"type": "String"
													},
													"sink": {
														"name": "ID_ITEM_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Item Barcode - باركود الصنف",
														"type": "String"
													},
													"sink": {
														"name": "ID_ITEM_BARCODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Your Company CR# - رقم السجل التجارى للشركة",
														"type": "String"
													},
													"sink": {
														"name": "ID_ENTITY_CR",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Other Entity CR# - رقم السجل التجارى للطرف الاخر",
														"type": "String"
													},
													"sink": {
														"name": "ID_CUSTOMER_ENTITY_CR",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Company Store/Inventory Code - رقم المخزن ",
														"type": "String"
													},
													"sink": {
														"name": "ID_COMPANY_STORE_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Quantity - الكمية",
														"type": "String"
													},
													"sink": {
														"name": "MT_QUANTITY",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Selling Price per unit - سعر البيع للوحدة  -",
														"type": "String"
													},
													"sink": {
														"name": "MT_DISCOUNT_AMOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Comon Referance No. -  رقم المرجع المشترك",
														"type": "String"
													},
													"sink": {
														"name": "ID_COMMON_REF_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Internal Transfer Number/Code - رقم التحويل الداخلي",
														"type": "String"
													},
													"sink": {
														"name": "ID_TRANSFER_CODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Number of Consumer Invoices - عدد فواتير البيع للمستهلك",
														"type": "String"
													},
													"sink": {
														"name": "ID_INVOICE_NUMBER",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "dls_processing_csv_copy1",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name\n",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_stg_transactions_copy1",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-20T12:55:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dls_processing_csv_copy1')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_transactions_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_processing_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "csv files under processing container",
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "6-RAYAN NATURAL WATER 9097_PSMS II - Inventory Transactions - Data Collection Sheet.csv"
					}
				},
				"folder": {
					"name": "Storage_DL_QTR"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": "processing"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "Transaction Date - تاريخ الحركة ",
						"type": "String"
					},
					{
						"name": "Transaction Type Code - كود نوع الحركة",
						"type": "String"
					},
					{
						"name": "Item Code - كود الصنف",
						"type": "String"
					},
					{
						"name": "Item Barcode - باركود الصنف",
						"type": "String"
					},
					{
						"name": "Your Company CR# - رقم السجل التجارى للشركة",
						"type": "String"
					},
					{
						"name": "Other Entity CR# - رقم السجل التجارى للطرف الاخر",
						"type": "String"
					},
					{
						"name": "Company Store/Inventory Code - رقم المخزن ",
						"type": "String"
					},
					{
						"name": "Quantity - الكمية",
						"type": "String"
					},
					{
						"name": "Selling Price per unit - سعر البيع للوحدة  -",
						"type": "String"
					},
					{
						"name": "Comon Referance No. -  رقم المرجع المشترك",
						"type": "String"
					},
					{
						"name": "Internal Transfer Number/Code - رقم التحويل الداخلي",
						"type": "String"
					},
					{
						"name": "Number of Consumer Invoices - عدد فواتير البيع للمستهلك",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_processing_csv_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "csv files under processing container",
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "6-RAYAN NATURAL WATER 9097_PSMS II - Inventory Transactions - Data Collection Sheet.csv"
					}
				},
				"folder": {
					"name": "Storage_DL_QTR"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": "processing"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "Transaction Date - تاريخ الحركة ",
						"type": "String"
					},
					{
						"name": "Transaction Type Code - كود نوع الحركة",
						"type": "String"
					},
					{
						"name": "Item Code - كود الصنف",
						"type": "String"
					},
					{
						"name": "Item Barcode - باركود الصنف",
						"type": "String"
					},
					{
						"name": "Your Company CR# - رقم السجل التجارى للشركة",
						"type": "String"
					},
					{
						"name": "Other Entity CR# - رقم السجل التجارى للطرف الاخر",
						"type": "String"
					},
					{
						"name": "Company Store/Inventory Code - رقم المخزن ",
						"type": "String"
					},
					{
						"name": "Quantity - الكمية",
						"type": "String"
					},
					{
						"name": "Selling Price per unit - سعر البيع للوحدة  -",
						"type": "String"
					},
					{
						"name": "Comon Referance No. -  رقم المرجع المشترك",
						"type": "String"
					},
					{
						"name": "Internal Transfer Number/Code - رقم التحويل الداخلي",
						"type": "String"
					},
					{
						"name": "Number of Consumer Invoices - عدد فواتير البيع للمستهلك",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_transactions_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodsqlp",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dedicated_SQL"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "ID_YEARMONTHDAY",
						"type": "nvarchar"
					},
					{
						"name": "ID_TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "ID_ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ID_ITEM_BARCODE",
						"type": "nvarchar"
					},
					{
						"name": "ID_ENTITY_CR",
						"type": "nvarchar"
					},
					{
						"name": "ID_CUSTOMER_ENTITY_CR",
						"type": "nvarchar"
					},
					{
						"name": "ID_COMPANY_STORE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "MT_QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "MT_DISCOUNT_AMOUNT",
						"type": "nvarchar"
					},
					{
						"name": "ID_COMMON_REF_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ID_TRANSFER_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ID_INVOICE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SK_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "STG_FILENAME",
						"type": "nvarchar"
					},
					{
						"name": "STG_FILETIME",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dwh",
					"table": "STG_TRANSACTIONS_SIL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/copycommand')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 1
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_psmsii_syntodls",
									"type": "LinkedServiceReference"
								},
								"path": "stagingarea"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Transaction Date - تاريخ الحركة ",
											"type": "String"
										},
										"sink": {
											"name": "ID_YEARMONTHDAY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Transaction Type Code - كود نوع الحركة",
											"type": "String"
										},
										"sink": {
											"name": "ID_TRANSACTION_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Item Code - كود الصنف",
											"type": "String"
										},
										"sink": {
											"name": "ID_ITEM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Item Barcode - باركود الصنف",
											"type": "String"
										},
										"sink": {
											"name": "ID_ITEM_BARCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Your Company CR# - رقم السجل التجارى للشركة",
											"type": "String"
										},
										"sink": {
											"name": "ID_ENTITY_CR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other Entity CR# - رقم السجل التجارى للطرف الاخر",
											"type": "String"
										},
										"sink": {
											"name": "ID_CUSTOMER_ENTITY_CR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Company Store/Inventory Code - رقم المخزن ",
											"type": "String"
										},
										"sink": {
											"name": "ID_COMPANY_STORE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Quantity - الكمية",
											"type": "String"
										},
										"sink": {
											"name": "MT_QUANTITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Selling Price per unit - سعر البيع للوحدة  -",
											"type": "String"
										},
										"sink": {
											"name": "MT_DISCOUNT_AMOUNT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Comon Referance No. -  رقم المرجع المشترك",
											"type": "String"
										},
										"sink": {
											"name": "ID_COMMON_REF_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Internal Transfer Number/Code - رقم التحويل الداخلي",
											"type": "String"
										},
										"sink": {
											"name": "ID_TRANSFER_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Number of Consumer Invoices - عدد فواتير البيع للمستهلك",
											"type": "String"
										},
										"sink": {
											"name": "ID_INVOICE_NUMBER",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "dls_processing_csv_copy1",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "32922.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_transactions_copy1",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Dev"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dls_processing_csv_copy1')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_transactions_copy1')]"
			]
		}
	]
}