dfpsmsiidt001/PartialArmTemplates/ArmTemplate_10_14_2021_16_4_33.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfpsmsiidt001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_DAILY_MAIN_initial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_FILE_TRANSFER",
						"description": "deneme2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_FILE_TRANSFER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "PL_LOAD_DWB_TRANSACTION",
						"description": "",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_EXEC_P_DQ_MAIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_LOAD_DWB_TRANSACTION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "truncateStgTransactions",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PL_FILE_TRANSFER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "truncate table [dwh].[STG_TRANSACTIONS];\nselect 1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_stg_transactions",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "PL_STOCK_CALCULATE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_LOAD_DWB_TRANSACTION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STOCK_CALCULATE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "DeleteProcessingFiles",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "PL_XLS_TO_STG_initial",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PL_CSV_TO_STG_initial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dls_processing_binary",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "PL_EXEC_P_DQ_MAIN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DeleteProcessingFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[P_DQ_TRANSACTION]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dsqlpqtr",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PL_CSV_TO_STG_initial",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "truncateStgTransactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CSV_TO_STG_initial",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "PL_XLS_TO_STG_initial",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "truncateStgTransactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_XLS_TO_STG_initial",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "PL_EXPORT_AND_EMAIL_ERRLOG",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_EXEC_P_DQ_MAIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_EXPORT_AND_EMAIL_ERRLOG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"variables": {
					"deneme": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PL_MAIN"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-25T14:24:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SP_LOOP_entity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupColumns",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_stg_entity_valid",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LookupInitialLoad",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LookupColumns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "@concat('select CASE WHEN COUNT(*)=0 THEN 1 ELSE 0 END AS LKP from dwh.DWL_COMPANY T1 WHERE T1.DS_CRNUMBER= ','''',activity('LookupColumns').output.value[4],'''') ",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwl_cr_transaction_type",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupInitialLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupColumns').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "UI_StoredProcedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[DwhTransferEntity]",
										"storedProcedureParameters": {
											"AddressArea": {
												"value": {
													"value": "@item().AddressArea",
													"type": "Expression"
												},
												"type": "String"
											},
											"AddressAreaNumber": {
												"value": {
													"value": "@item().AddressAreaNumber",
													"type": "Expression"
												},
												"type": "String"
											},
											"AddressBuildingNumber": {
												"value": {
													"value": "@item().AddressBuildingNumber",
													"type": "Expression"
												},
												"type": "String"
											},
											"AddressPostalCode": {
												"value": {
													"value": "@item().AddressPostalCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"AddressStreetName": {
												"value": {
													"value": "@item().AddressStreetName",
													"type": "Expression"
												},
												"type": "String"
											},
											"AddressStreetNumber2": {
												"value": {
													"value": "@item().AddressStreetNumber2",
													"type": "Expression"
												},
												"type": "String"
											},
											"CLNumber": {
												"value": {
													"value": "@item().CLNumber",
													"type": "Expression"
												},
												"type": "String"
											},
											"CRNumber": {
												"value": {
													"value": "@item().CRNumber",
													"type": "Expression"
												},
												"type": "String"
											},
											"Email": {
												"value": {
													"value": "@item().Email",
													"type": "Expression"
												},
												"type": "String"
											},
											"EntityTypeName": {
												"value": {
													"value": "@item().EntityTypeName",
													"type": "Expression"
												},
												"type": "String"
											},
											"Fax": {
												"value": {
													"value": "@item().Fax",
													"type": "Expression"
												},
												"type": "String"
											},
											"IsInitialLoad": {
												"value": {
													"value": "@activity('LookupInitialLoad').output.firstrow.lkp",
													"type": "Expression"
												},
												"type": "Single"
											},
											"LocationURL": {
												"value": {
													"value": "@item().LocationURL",
													"type": "Expression"
												},
												"type": "String"
											},
											"MainCompanyCrNumber": {
												"value": {
													"value": "@item().MainCompanyCrNumber",
													"type": "Expression"
												},
												"type": "String"
											},
											"MobilePhoneNumber": {
												"value": {
													"value": "@item().MobilePhoneNumber",
													"type": "Expression"
												},
												"type": "String"
											},
											"NameArabic": {
												"value": {
													"value": "@item().NameArabic",
													"type": "Expression"
												},
												"type": "String"
											},
											"NameEnglish": {
												"value": {
													"value": "@item().NameEnglish",
													"type": "Expression"
												},
												"type": "String"
											},
											"PhoneExtension": {
												"value": {
													"value": "@item().PhoneExtension",
													"type": "Expression"
												},
												"type": "String"
											},
											"PhoneNumber": {
												"value": {
													"value": "@item().PhoneNumber",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordTypeName": {
												"value": {
													"value": "@item().RecordTypeName",
													"type": "Expression"
												},
												"type": "String"
											},
											"WarehouseCapacity": {
												"value": {
													"value": "@item().WarehouseCapacity",
													"type": "Expression"
												},
												"type": "Decimal"
											},
											"WarehouseTotalArea": {
												"value": {
													"value": "@item().WarehouseTotalArea",
													"type": "Expression"
												},
												"type": "Decimal"
											},
											"WebSite": {
												"value": {
													"value": "@item().WebSite",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_qtrsqldb",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "PL_INITIAL_LOAD/ENTITY"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}