dfpsmsiidt001/PartialArmTemplates/ArmTemplate_9_15_2021_17_50_14.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfpsmsiidt001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_XLSX_TO_STG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get file list from processing container",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dls_processing_xlsx",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "*.xlsx"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "IsFileNameCorrect",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "lookupFileName",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(if(\nempty(activity('lookupFileName').output.value)\n,0,1),1)\n",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Send E_Mail",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": "https://lapp-psmsii-dt-westeu-004.azurewebsites.net:443/api/lappwf_psmsii_dt_003/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gfkqhHVGM0XUwIyFoLgEKxzhSohusGVbGzkbginsRcg",
													"connectVia": {
														"referenceName": "integrationRuntime10min",
														"type": "IntegrationRuntimeReference"
													},
													"method": "POST",
													"body": {
														"value": "{\"EmailType\":\"NotExpectedFile\"}",
														"type": "Expression"
													},
													"disableCertValidation": false
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "df_xlsx_to_stg",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "1.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "df_xlsx_to_stg",
														"type": "DataFlowReference",
														"parameters": {
															"fileName": {
																"value": "'@{item().name}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"processingxlsx": {
																"FileName": "@item().name"
															}
														}
													},
													"staging": {
														"linkedService": {
															"referenceName": "ls_psmsii_syntodls",
															"type": "LinkedServiceReference"
														},
														"folderPath": "stagingarea"
													},
													"integrationRuntime": {
														"referenceName": "integrationRuntime10min",
														"type": "IntegrationRuntimeReference"
													},
													"traceLevel": "Coarse"
												}
											}
										]
									}
								},
								{
									"name": "lookupFileName",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT 1 as lkp_id\n  FROM [etl].[DWL_FILE_LIST] where DS_FILENAME= ','''',item().name,'''') ",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_dwl_file_list",
											"type": "DatasetReference"
										},
										"firstRowOnly": false
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"folder": {
					"name": "PL_MAIN"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-20T12:55:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dls_processing_xlsx')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_XLSX_TO_STG_production')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get file list from processing container",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dls_processing_xlsx_product",
								"type": "DatasetReference",
								"parameters": {
									"FileName": ".*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "df_xlsx_to_stg_products",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_xlsx_to_stg_products",
											"type": "DataFlowReference",
											"parameters": {
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"InputProductsxlsx": {
													"FileName": "@item().name"
												}
											}
										},
										"staging": {
											"linkedService": {
												"referenceName": "ls_psmsii_syntodls",
												"type": "LinkedServiceReference"
											},
											"folderPath": "stagingarea"
										},
										"integrationRuntime": {
											"referenceName": "integrationRuntime10min",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Coarse"
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"folder": {
					"name": "Dev"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-20T12:55:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dls_processing_xlsx_product')]",
				"[concat(variables('factoryId'), '/dataflows/df_xlsx_to_stg_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_processing_xlsx')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "104897.xlsx"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "*.xlsx",
						"fileSystem": "processing"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Transaction Date - تاريخ الحركة ",
						"type": "String"
					},
					{
						"name": "Transaction Type Code - كود نوع الحركة",
						"type": "String"
					},
					{
						"name": "Item Code - كود الصنف",
						"type": "String"
					},
					{
						"name": "Item Barcode - باركود الصنف",
						"type": "String"
					},
					{
						"name": "Your Company CR# - رقم السجل التجارى للشركة",
						"type": "String"
					},
					{
						"name": "Other Entity CR# - رقم السجل التجارى للطرف الاخر",
						"type": "String"
					},
					{
						"name": "Company Store/Inventory Code - رقم المخزن ",
						"type": "String"
					},
					{
						"name": "Quantity - الكمية",
						"type": "String"
					},
					{
						"name": "Selling Price per unit - سعر البيع للوحدة  -",
						"type": "String"
					},
					{
						"name": "Comon Referance No. -  رقم المرجع المشترك",
						"type": "String"
					},
					{
						"name": "Internal Transfer Number/Code - رقم التحويل الداخلي",
						"type": "String"
					},
					{
						"name": "Number of Consumer Invoices - عدد فواتير البيع للمستهلك",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_processing_xlsx_product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "'a'"
					}
				},
				"folder": {
					"name": "Storage_DL_QTR"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "0",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "Products",
						"fileSystem": "input"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Item Code\nرقم الصنف",
						"type": "String"
					},
					{
						"name": "Barcode\nالباركود",
						"type": "String"
					},
					{
						"name": "Product Name Arabic\nاسم الصنف عربى",
						"type": "String"
					},
					{
						"name": "Description Arabic\nوصف الصنف عربى",
						"type": "String"
					},
					{
						"name": "Product Name Arabic\nاسم الصنف انجليزى",
						"type": "String"
					},
					{
						"name": "Description Arabic\nوصف الصنف انجليزى",
						"type": "String"
					},
					{
						"name": "Unit Item Barcode\nالباركود للوحدة ",
						"type": "String"
					},
					{
						"name": "No Of Unit Items\nعدد الوحدات",
						"type": "String"
					},
					{
						"name": "Unit Weight/size\nوزن/سعة الوحدة",
						"type": "String"
					},
					{
						"name": "Unit UOM\nوحدة القياس",
						"type": "String"
					},
					{
						"name": "Package UOM\nوحدة قياس الحزمة-التغليف",
						"type": "String"
					},
					{
						"name": "Cost Price\nسعر التكلفة",
						"type": "String"
					},
					{
						"name": "Selling Price\nسعر البيع",
						"type": "String"
					},
					{
						"name": "Brand-Trade Mark English\nاسم العلامة التجارية انجليزى",
						"type": "String"
					},
					{
						"name": "Brand-Trade Mark Arabic\nاسم العلامة التجارية عربى",
						"type": "String"
					},
					{
						"name": "MoCI Product Group\nالمجموعة السلعية - بالوزارة",
						"type": "String"
					},
					{
						"name": "Country of Oragen Name\nاسم بلد المنشأ",
						"type": "String"
					},
					{
						"name": "Country of Oragen ISO\nكود 3 لبلد المنشأ",
						"type": "String"
					},
					{
						"name": "HS Code\nرمز المنسق الجمركي",
						"type": "String"
					},
					{
						"name": "Supplier CR\nرقم السجل التجارى للمورد",
						"type": "String"
					},
					{
						"name": "Supplier Name\nاسم المورد",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 1",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 2",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 3",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 4",
						"type": "String"
					},
					{
						"name": "Width\nالعرض",
						"type": "String"
					},
					{
						"name": "Height\nالطول",
						"type": "String"
					},
					{
						"name": "Depth\nالارتفاع",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_xlsx_to_stg_products')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dls_processing_xlsx_product",
								"type": "DatasetReference"
							},
							"name": "InputProductsxlsx"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_stg_productions",
								"type": "DatasetReference"
							},
							"name": "stgProducts"
						}
					],
					"transformations": [
						{
							"name": "AddColumn"
						},
						{
							"name": "SurrogateKey1"
						}
					],
					"script": "parameters{\n\tfileName as string ('a')\n}\nsource(output(\n\t\t{Item Code\\nرقم الصنف} as string,\n\t\t{Barcode\\nالباركود} as string,\n\t\t{Product Name Arabic\\nاسم الصنف عربى} as string,\n\t\t{Description Arabic\\nوصف الصنف عربى} as string,\n\t\t{Product Name Arabic\\nاسم الصنف انجليزى} as string,\n\t\t{Description Arabic\\nوصف الصنف انجليزى} as string,\n\t\t{Unit Item Barcode\\nالباركود للوحدة } as string,\n\t\t{No Of Unit Items\\nعدد الوحدات} as string,\n\t\t{Unit Weight/size\\nوزن/سعة الوحدة} as string,\n\t\t{Unit UOM\\nوحدة القياس} as string,\n\t\t{Package UOM\\nوحدة قياس الحزمة-التغليف} as string,\n\t\t{Cost Price\\nسعر التكلفة} as string,\n\t\t{Selling Price\\nسعر البيع} as string,\n\t\t{Brand-Trade Mark English\\nاسم العلامة التجارية انجليزى} as string,\n\t\t{Brand-Trade Mark Arabic\\nاسم العلامة التجارية عربى} as string,\n\t\t{MoCI Product Group\\nالمجموعة السلعية - بالوزارة} as string,\n\t\t{Country of Oragen Name\\nاسم بلد المنشأ} as string,\n\t\t{Country of Oragen ISO\\nكود 3 لبلد المنشأ} as string,\n\t\t{HS Code\\nرمز المنسق الجمركي} as string,\n\t\t{Supplier CR\\nرقم السجل التجارى للمورد} as string,\n\t\t{Supplier Name\\nاسم المورد} as string,\n\t\t{Category Level 1\\nتصنيف السلعة 1} as string,\n\t\t{Category Level 1\\nتصنيف السلعة 2} as string,\n\t\t{Category Level 1\\nتصنيف السلعة 3} as string,\n\t\t{Category Level 1\\nتصنيف السلعة 4} as string,\n\t\t{Width\\nالعرض} as string,\n\t\t{Height\\nالطول} as string,\n\t\t{Depth\\nالارتفاع} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> InputProductsxlsx\nInputProductsxlsx derive(STG_FILENAME = $fileName,\n\t\tSTG_FILEDATE = left(toString(fromUTC(currentTimestamp(), 'Asia/Istanbul')),19)) ~> AddColumn\nAddColumn keyGenerate(output(SK_ID_SUR as long),\n\tstartAt: 1L) ~> SurrogateKey1\nSurrogateKey1 sink(allowSchemaDrift: true,\n\tvalidateSchema: true,\n\tinput(\n\t\tITEM_CODE as string,\n\t\tBARCODE as string,\n\t\tPRODUCT_NAME_ARABIC as string,\n\t\tDESCRIPTION_ARABIC as string,\n\t\tPRODUCT_NAME_ENGLISH as string,\n\t\tDESCRIPTION_ENGLISH as string,\n\t\tUNIT_ITEM_BARCODE as string,\n\t\tNO_OF_UNIT_ITEMS as string,\n\t\tUNIT_WEIGHT_SIZE as string,\n\t\tUNIT_UOM as string,\n\t\tPACKAGE_UOM as string,\n\t\tCOST_PRICE as string,\n\t\tSELLING_PRICE as string,\n\t\tBRAND_TRADE_MARK_ENGLISH as string,\n\t\tBRAND_TRADE_MARK_ARABIC as string,\n\t\tMOCI_PRODUCT_GROUP as string,\n\t\tCOUNTRY_OF_ORAGEN_NAME as string,\n\t\tCOUNTRY_OF_ORAGEN_ISO as string,\n\t\tHS_CODE as string,\n\t\tSUPPLIER_CR as string,\n\t\tSUPPLIER_NAME as string,\n\t\tCATEGORY_LEVEL_1_1 as string,\n\t\tCATEGORY_LEVEL_1_2 as string,\n\t\tCATEGORY_LEVEL_1_3 as string,\n\t\tCATEGORY_LEVEL_1_4 as string,\n\t\tWIDTH as string,\n\t\tHEIGHT as string,\n\t\tDEPTH as string,\n\t\tID_SK as integer,\n\t\tDS_FILENAME as string,\n\t\tDT_FILEDATE as timestamp\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 1,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tITEM_CODE = {Item Code\\nرقم الصنف},\n\t\tBARCODE = {Barcode\\nالباركود},\n\t\tPRODUCT_NAME_ARABIC = {Product Name Arabic\\nاسم الصنف عربى},\n\t\tDESCRIPTION_ARABIC = {Description Arabic\\nوصف الصنف عربى},\n\t\tPRODUCT_NAME_ENGLISH = {Product Name Arabic\\nاسم الصنف انجليزى},\n\t\tDESCRIPTION_ENGLISH = {Description Arabic\\nوصف الصنف انجليزى},\n\t\tUNIT_ITEM_BARCODE = {Unit Item Barcode\\nالباركود للوحدة },\n\t\tNO_OF_UNIT_ITEMS = {No Of Unit Items\\nعدد الوحدات},\n\t\tUNIT_WEIGHT_SIZE = {Unit Weight/size\\nوزن/سعة الوحدة},\n\t\tUNIT_UOM = {Unit UOM\\nوحدة القياس},\n\t\tPACKAGE_UOM = {Package UOM\\nوحدة قياس الحزمة-التغليف},\n\t\tCOST_PRICE = {Cost Price\\nسعر التكلفة},\n\t\tSELLING_PRICE = {Selling Price\\nسعر البيع},\n\t\tBRAND_TRADE_MARK_ENGLISH = {Brand-Trade Mark English\\nاسم العلامة التجارية انجليزى},\n\t\tBRAND_TRADE_MARK_ARABIC = {Brand-Trade Mark Arabic\\nاسم العلامة التجارية عربى},\n\t\tMOCI_PRODUCT_GROUP = {MoCI Product Group\\nالمجموعة السلعية - بالوزارة},\n\t\tCOUNTRY_OF_ORAGEN_NAME = {Country of Oragen Name\\nاسم بلد المنشأ},\n\t\tCOUNTRY_OF_ORAGEN_ISO = {Country of Oragen ISO\\nكود 3 لبلد المنشأ},\n\t\tHS_CODE = {HS Code\\nرمز المنسق الجمركي},\n\t\tSUPPLIER_CR = {Supplier CR\\nرقم السجل التجارى للمورد},\n\t\tSUPPLIER_NAME = {Supplier Name\\nاسم المورد},\n\t\tCATEGORY_LEVEL_1_1 = {Category Level 1\\nتصنيف السلعة 1},\n\t\tCATEGORY_LEVEL_1_2 = {Category Level 1\\nتصنيف السلعة 2},\n\t\tCATEGORY_LEVEL_1_3 = {Category Level 1\\nتصنيف السلعة 3},\n\t\tCATEGORY_LEVEL_1_4 = {Category Level 1\\nتصنيف السلعة 4},\n\t\tWIDTH = {Width\\nالعرض},\n\t\tHEIGHT = {Height\\nالطول},\n\t\tDEPTH = {Depth\\nالارتفاع},\n\t\tID_SK = SK_ID_SUR,\n\t\tDS_FILENAME = STG_FILENAME,\n\t\tDT_FILEDATE = STG_FILEDATE\n\t)) ~> stgProducts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dls_processing_xlsx_product')]"
			]
		}
	]
}