dfpsmsiidt001/PartialArmTemplates/ArmTemplate_10_24_2021_20_0_37.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfpsmsiidt001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CUSTOM_MAIN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetXMLFiles",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_custom_xml",
								"type": "DatasetReference",
								"parameters": {
									"xmlfileName": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "TruncateStgCustoms",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetXMLFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "df_custom_xml_to_db",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_custom_xml_to_db",
											"type": "DataFlowReference",
											"parameters": {
												"xmlfilename": {
													"value": "'@{item().name}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {
													"xmlfileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												"DECLARATION": {
													"schemaName": "dwh",
													"tableName": "STG_CUSTOMS_DEC"
												},
												"ITEM": {
													"schemaName": "dwh",
													"tableName": "STG_CUSTOMS_ITEM"
												},
												"SUPERVISOR": {
													"schemaName": "dwh",
													"tableName": "STG_CUSTOMS_SUPV"
												}
											}
										},
										"staging": {
											"linkedService": {
												"referenceName": "ls_psmsii_syntodls",
												"type": "LinkedServiceReference"
											},
											"folderPath": "stagingarea"
										},
										"integrationRuntime": {
											"referenceName": "integrationRuntime10min",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Coarse"
									}
								},
								{
									"name": "Lookup1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "df_custom_xml_to_db",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_stg_customs_dec",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "stgcustomsdec",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Lookup1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT 1\nFROM [dwh].[STG_CUSTOMS_DEC] as SCD\nWHERE \n(\ntry_convert(nvarchar(200), NULLIF([NotificationSender], '''')) IS NULL\nOR try_convert(datetimeoffset,SWITCHOFFSET(cast(NULLIF([NotificationDate],'''') as datetimeoffset),''+03:00'')) IS NULL  \nOR try_convert(nvarchar(200), NULLIF([NotificationRef], '''')) IS NULL\nOR try_convert(nvarchar(200), NULLIF([bolNumber], '''')) IS NULL\nOR try_convert(nvarchar(200), NULLIF([declarationNo], '''')) IS NULL\nOR try_convert(nvarchar(200), NULLIF([declarationStatus], '''')) IS NULL\nOR try_convert(nvarchar(200), NULLIF([declarationType], '''')) IS NULL\nOR NOT EXISTS (SELECT 1 FROM dwh.STG_CUSTOMS_ITEM AS SCI WHERE sci.declarationNo=SCD.declarationNo)\n)\nAND [NotificationRef] = ','''',activity('Lookup1').output.firstRow.NotificationRef,'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_stg_customs_dec",
											"type": "DatasetReference"
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "If Condition",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "stgcustomsdec",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(if(\nempty(activity('stgcustomsdec').output.value)\n,0,1),0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Email",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "deletestgcustomsdec",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": "https://lapp-psmsii-dt-westeu-004.azurewebsites.net:443/api/lappwf_psmsii_dt_003/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gfkqhHVGM0XUwIyFoLgEKxzhSohusGVbGzkbginsRcg",
													"connectVia": {
														"referenceName": "integrationRuntime10min",
														"type": "IntegrationRuntimeReference"
													},
													"method": "POST",
													"headers": {
														"filename": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													"body": {
														"EmailType": "CustomInvalidFile"
													}
												}
											},
											{
												"name": "deletestgcustomsdec",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlDWSource",
														"sqlReaderQuery": {
															"value": "@concat(' DELETE FROM [dwh].[STG_CUSTOMS_DEC] WHERE [NotificationRef] = ','''',activity('Lookup1').output.firstRow.NotificationRef,''';\nSELECT 1;\nDELETE FROM [dwh].[STG_CUSTOMS_ITEM] WHERE [declarationno] = ','''',activity('Lookup1').output.firstRow.declarationno,''';\nSELECT 1;\nDELETE FROM [dwh].[STG_CUSTOMS_SUPV] WHERE [declarationno] = ','''',activity('Lookup1').output.firstRow.declarationno,''';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_stg_customs_dec",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "DQ Customs",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dwh].[P_DQ_CUSTOMS]"
												},
												"linkedServiceName": {
													"referenceName": "ls_dsqlpqtr",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "P_UPSERT_CUSTOMS_SUPV",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "DQ Customs",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dwh].[P_UPSERT_CUSTOMS_SUPERVISOR]"
												},
												"linkedServiceName": {
													"referenceName": "ls_dsqlpqtr",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "P_UPSERT_CUSTOMS_ITEM",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "DQ Customs",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dwh].[P_UPSERT_CUSTOMS_ITEM]"
												},
												"linkedServiceName": {
													"referenceName": "ls_dsqlpqtr",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "P_UPSERT_CUSTOMS_DEC",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "DQ Customs",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dwh].[P_UPSERT_CUSTOMS_DECLARATION]"
												},
												"linkedServiceName": {
													"referenceName": "ls_dsqlpqtr",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "P_DWA_CUSTOMS_STOCK",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "P_DELETE_PENDING_INSPECTION",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dwh].[P_DWA_CUSTOMS_STOCK]"
												},
												"linkedServiceName": {
													"referenceName": "ls_dsqlpqtr",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "P_DELETE_PENDING_INSPECTION",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "P_UPSERT_CUSTOMS_DEC",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "P_UPSERT_CUSTOMS_ITEM",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "P_UPSERT_CUSTOMS_SUPV",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dwh].[P_DELETE_PENDING_INSPECTION]",
													"storedProcedureParameters": {
														"param_day": {
															"value": "90",
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_dsqlpqtr",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "PL_BSS_XML",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "P_UPSERT_CUSTOMS_DEC",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pipeline1",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "TruncateStgCustoms",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GetXMLFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dwh].[STG_CUSTOMS_DEC];\nTRUNCATE TABLE [dwh].[STG_CUSTOMS_SUPV];\nTRUNCATE TABLE [dwh].[STG_CUSTOMS_ITEM];\nselect 1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_stg_customs_dec",
								"type": "DatasetReference"
							}
						}
					}
				],
				"folder": {
					"name": "PL_CUSTOM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SOAP_deneme')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CALL_BSS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "POST",
									"requestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:onep=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <onep:GetCommercialRegistrationInfoRequest_Input>      <onep:commercialRegistrationCode>72219</onep:commercialRegistrationCode>\n         <onep:RefNumber>?</onep:RefNumber>\n      </onep:GetCommercialRegistrationInfoRequest_Input>\n   </soapenv:Body>\n</soapenv:Envelope>",
									"requestTimeout": "00:10:00"
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_soap",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dsqlp_parametric",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "dwh",
									"tableName": "STG_SOAP_DENEME"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Dev"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LKP_CUSTOMS_DEC",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKP_CUSTOMS_DEC').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CALL_BSS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "XmlSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "POST",
												"requestBody": {
													"value": "@{concat('<env:Envelope\n  xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\n  xmlns:wsa=\"http://www.w3.org/2005/08/addressing\">\n <env:Header>\n  <wsa:MessageID>urn:2CD68C011BA311ECAF36A94D498CBA63</wsa:MessageID>\n  <wsa:ReplyTo>\n   <wsa:Address>http://www.w3.org/2005/08/addressing/anonymous</wsa:Address>\n   <wsa:ReferenceParameters>\n    <instra:tracking.ecid\n      xmlns:instra=\"http://xmlns.oracle.com/sca/tracking/1.0\">d0d50e863b7f775e:-1324c748:17bf253b807:-8000-00000000000ec5a2</instra:tracking.ecid>\n    <instra:tracking.compositeInstanceCreatedTime\n      xmlns:instra=\"http://xmlns.oracle.com/sca/tracking/1.0\">2021-09-22T15:46:58.197+03:00</instra:tracking.compositeInstanceCreatedTime>\n   </wsa:ReferenceParameters>\n  </wsa:ReplyTo>\n  <wsa:FaultTo>\n   <wsa:Address>http://www.w3.org/2005/08/addressing/anonymous</wsa:Address>\n   <wsa:ReferenceParameters>\n    <instra:tracking.ecid\n      xmlns:instra=\"http://xmlns.oracle.com/sca/tracking/1.0\">d0d50e863b7f775e:-1324c748:17bf253b807:-8000-00000000000ec5a2</instra:tracking.ecid>\n    <instra:tracking.compositeInstanceCreatedTime\n      xmlns:instra=\"http://xmlns.oracle.com/sca/tracking/1.0\">2021-09-22T15:46:58.197+03:00</instra:tracking.compositeInstanceCreatedTime>\n   </wsa:ReferenceParameters>\n  </wsa:FaultTo>\n </env:Header>\n <env:Body>\n  <GetCommercialRegistrationInfoResponse_Output\n    xmlns:ns0=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\"\n    xmlns=\"http://mec.gov.qa/BSS/soa/OnePrimaryEstablishment\">\n   <ns0:commercialRegistration>\n    <ns0:location>مركز رئيسي</ns0:location>\n    <ns0:creationDate>2019-06-20T00:00:00.000Z</ns0:creationDate>\n    <ns0:expiryDate>2023-12-16T00:00:00.000Z</ns0:expiryDate>\n    <ns0:arabicCommercialName>فاريتي للتجارة</ns0:arabicCommercialName>\n    <ns0:companyStartDate>1900-01-01T00:00:00.000Z</ns0:companyStartDate>\n    <ns0:branchesCount>0</ns0:branchesCount>\n    <ns0:commercialRegistrationEntityType>شركة ذات مسؤولية محدودة</ns0:commercialRegistrationEntityType>\n    <ns0:addressPOBox/>\n    <ns0:telephone/>\n    <ns0:addressStreet>طريق سلوى</ns0:addressStreet>\n    <ns0:addressArea>العسيري+ الخليفات الجديده/المع</ns0:addressArea>\n    <ns0:companyCapital>4000000</ns0:companyCapital>\n    <ns0:humanPartners>\n     <ns0:nameAr>محمدشفيع فيصلو</ns0:nameAr>\n     <ns0:nationality>الهند</ns0:nationality>\n     <ns0:nIN>28635600446</ns0:nIN>\n     <ns0:percentage>10</ns0:percentage>\n     <ns0:nINType>\n      <ns0:Code>SSN</ns0:Code>\n      <ns0:description>رقم البطاقة الشخصية</ns0:description>\n     </ns0:nINType>\n     <ns0:partnerType>\n      <ns0:code>Partner</ns0:code>\n      <ns0:description>شريك</ns0:description>\n     </ns0:partnerType>\n     <ns0:partnerStatus>\n      <ns0:code>Active</ns0:code>\n      <ns0:description>نشط</ns0:description>\n     </ns0:partnerStatus>\n    </ns0:humanPartners>\n    <ns0:humanPartners>\n     <ns0:nameAr>بيرومبوليبات بايورايل فاسالو</ns0:nameAr>\n     <ns0:nationality>الهند</ns0:nationality>\n     <ns0:nIN>26535600044</ns0:nIN>\n     <ns0:percentage>39</ns0:percentage>\n     <ns0:nINType>\n      <ns0:Code>SSN</ns0:Code>\n      <ns0:description>رقم البطاقة الشخصية</ns0:description>\n     </ns0:nINType>\n     <ns0:partnerType>\n      <ns0:code>Partner</ns0:code>\n      <ns0:description>شريك</ns0:description>\n     </ns0:partnerType>\n     <ns0:partnerStatus>\n      <ns0:code>Active</ns0:code>\n      <ns0:description>نشط</ns0:description>\n     </ns0:partnerStatus>\n    </ns0:humanPartners>\n    <ns0:humanPartners>\n     <ns0:nameAr>عبدالرحمن عبدالله ابراهيم الانصارى</ns0:nameAr>\n     <ns0:nationality>قطر</ns0:nationality>\n     <ns0:nIN>26063400592</ns0:nIN>\n     <ns0:percentage>51</ns0:percentage>\n     <ns0:nINType>\n      <ns0:Code>SSN</ns0:Code>\n      <ns0:description>رقم البطاقة الشخصية</ns0:description>\n     </ns0:nINType>\n     <ns0:partnerType>\n      <ns0:code>Partner</ns0:code>\n      <ns0:description>شريك</ns0:description>\n     </ns0:partnerType>\n     <ns0:partnerStatus>\n      <ns0:code>Active</ns0:code>\n      <ns0:description>نشط</ns0:description>\n     </ns0:partnerStatus>\n    </ns0:humanPartners>\n    <ns0:signatories>\n     <ns0:nameAr>بارامبوليبات بايورايل جمالو</ns0:nameAr>\n     <ns0:nationality>الهند</ns0:nationality>\n     <ns0:nIN>26735601939</ns0:nIN>\n     <ns0:nINType>\n      <ns0:Code>SSN</ns0:Code>\n      <ns0:description>رقم البطاقة الشخصية</ns0:description>\n     </ns0:nINType>\n     <ns0:partnerType>\n      <ns0:code>04</ns0:code>\n      <ns0:description>مدير</ns0:description>\n     </ns0:partnerType>\n    </ns0:signatories>\n    <ns0:signatories>\n     <ns0:nameAr>محمدشفيع فيصلو</ns0:nameAr>\n     <ns0:nationality>الهند</ns0:nationality>\n     <ns0:nIN>28635600446</ns0:nIN>\n     <ns0:nINType>\n      <ns0:Code>SSN</ns0:Code>\n      <ns0:description>رقم البطاقة الشخصية</ns0:description>\n     </ns0:nINType>\n     <ns0:partnerType>\n      <ns0:code>Partner</ns0:code>\n      <ns0:description>شريك</ns0:description>\n     </ns0:partnerType>\n    </ns0:signatories>\n    <ns0:signatories>\n     <ns0:nameAr>بيرومبوليبات بايورايل فاسالو</ns0:nameAr>\n     <ns0:nationality>الهند</ns0:nationality>\n     <ns0:nIN>26535600044</ns0:nIN>\n     <ns0:nINType>\n      <ns0:Code>SSN</ns0:Code>\n      <ns0:description>رقم البطاقة الشخصية</ns0:description>\n     </ns0:nINType>\n     <ns0:partnerType>\n      <ns0:code>Partner</ns0:code>\n      <ns0:description>شريك</ns0:description>\n     </ns0:partnerType>\n    </ns0:signatories>\n    <ns0:signatories>\n     <ns0:nameAr>عبدالرحمن عبدالله ابراهيم الانصارى</ns0:nameAr>\n     <ns0:nationality>قطر</ns0:nationality>\n     <ns0:nIN>26063400592</ns0:nIN>\n     <ns0:nINType>\n      <ns0:Code>SSN</ns0:Code>\n      <ns0:description>رقم البطاقة الشخصية</ns0:description>\n     </ns0:nINType>\n     <ns0:partnerType>\n      <ns0:code>Partner</ns0:code>\n      <ns0:description>شريك</ns0:description>\n     </ns0:partnerType>\n    </ns0:signatories>\n    <ns0:activities>\n     <ns0:title>تعبئة و تغليف المواد الغذائية</ns0:title>\n     <ns0:activitySerial>8292094</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجارة في معدات النظافة والتنظيف</ns0:title>\n     <ns0:activitySerial>4773913</ns0:activitySerial>\n     <ns0:cost>3000</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجارة في المواد الغذائية</ns0:title>\n     <ns0:activitySerial>4630901</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجارة في المواد الاستهلاكية</ns0:title>\n     <ns0:activitySerial>4711101</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجاره فى المياه المعدنيه</ns0:title>\n     <ns0:activitySerial>513500</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>تجارة المرطبات والمياه الغازية</ns0:title>\n     <ns0:activitySerial>2002169</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجارة في الورق</ns0:title>\n     <ns0:activitySerial>534105</ns0:activitySerial>\n     <ns0:cost>1000</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>تجارة المنتجات الورقية</ns0:title>\n     <ns0:activitySerial>2000703</ns0:activitySerial>\n     <ns0:cost>1000</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>تجارة العصائر</ns0:title>\n     <ns0:activitySerial>2002170</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>تجارة اللحوم الطازجة والمبردة والمجمدة</ns0:title>\n     <ns0:activitySerial>2001940</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجاره فى الاسماك الطازجه</ns0:title>\n     <ns0:activitySerial>4620511</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>تجارة الاسماك والاغذية البحرية المجمدة</ns0:title>\n     <ns0:activitySerial>2001342</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجاره فى الفواكه والخضروات الطازجه</ns0:title>\n     <ns0:activitySerial>511700</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجاره فى الدواجن المذبوحه ومنتجاتها</ns0:title>\n     <ns0:activitySerial>513100</ns0:activitySerial>\n     <ns0:cost>500</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجاره فى ادوات الطهى و الاطباق و الاكواب و الاوانى وغيرها</ns0:title>\n     <ns0:activitySerial>526300</ns0:activitySerial>\n     <ns0:cost>1000</ns0:cost>\n    </ns0:activities>\n    <ns0:activities>\n     <ns0:title>التجاره فى المستلزمات المنزليه</ns0:title>\n     <ns0:activitySerial>526200</ns0:activitySerial>\n     <ns0:cost>1000</ns0:cost>\n    </ns0:activities>\n    <ns0:commercialRegistrationCode>','',item().CRNUMBER,'','</ns0:commercialRegistrationCode>\n    <ns0:statuses>\n     <ns0:code>Active</ns0:code>\n     <ns0:description>نشط</ns0:description>\n    </ns0:statuses>\n    <ns0:InstanceType>\n     <ns0:InstanceID>71933931</ns0:InstanceID>\n     <ns0:CaseID> - aecc4b16b297ce5e:20916429:17bf2543d95:-28c8</ns0:CaseID>\n    </ns0:InstanceType>\n   </ns0:commercialRegistration>\n  </GetCommercialRegistrationInfoResponse_Output>\n </env:Body>\n</env:Envelope>')\n }",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "XmlReadSettings",
												"validationMode": "none",
												"namespaces": true
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_soap",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "dsqlp_parametric",
											"type": "DatasetReference",
											"parameters": {
												"schemaName": "dwh",
												"tableName": "STG_SOAP_DENEME"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LKP_CUSTOMS_DEC",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select 1 from [dwh].[DWL_CUSTOMS_DECLARATION] WHERE FLG_SUPPLIER_CHECK=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dsqlp_parametric",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "dwh",
									"tableName": "DWL_CUSTOMS_DECLARATION"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}