dfpsmsiidt001/PartialArmTemplates/ArmTemplate_9_17_2021_14_46_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfpsmsiidt001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_XLSX_TO_STG_production')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get file list from processing container",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dls_input_xlsx_product",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "df_xlsx_to_stg_products",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_xlsx_to_stg_products",
											"type": "DataFlowReference",
											"parameters": {
												"fileName": {
													"value": "'@{item().name}'",
													"type": "Expression"
												}
											}
										},
										"staging": {
											"linkedService": {
												"referenceName": "ls_psmsii_syntodls",
												"type": "LinkedServiceReference"
											},
											"folderPath": "stagingarea"
										},
										"integrationRuntime": {
											"referenceName": "integrationRuntime10min",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Coarse"
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"folder": {
					"name": "Dev"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-20T12:55:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dls_input_xlsx_product')]",
				"[concat(variables('factoryId'), '/dataflows/df_xlsx_to_stg_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_XLSX_TO_STG_production_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFolderPath": "Products",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Item Code\nرقم الصنف",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Barcode\nالباركود",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BARCODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product Name Arabic\nاسم الصنف عربى",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRODUCT_NAME_ARABIC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description Arabic\nوصف الصنف عربى",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRIPTION_ARABIC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product Name Arabic\nاسم الصنف انجليزى",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRODUCT_NAME_ENGLISH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description Arabic\nوصف الصنف انجليزى",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRIPTION_ENGLISH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Unit Item Barcode\nالباركود للوحدة ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_ITEM_BARCODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "No Of Unit Items\nعدد الوحدات",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NO_OF_UNIT_ITEMS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Unit Weight/size\nوزن/سعة الوحدة",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_WEIGHT_SIZE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Unit UOM\nوحدة القياس",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_UOM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Package UOM\nوحدة قياس الحزمة-التغليف",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PACKAGE_UOM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cost Price\nسعر التكلفة",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COST_PRICE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Selling Price\nسعر البيع",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SELLING_PRICE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Brand-Trade Mark English\nاسم العلامة التجارية انجليزى",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BRAND_TRADE_MARK_ENGLISH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Brand-Trade Mark Arabic\nاسم العلامة التجارية عربى",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BRAND_TRADE_MARK_ARABIC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MoCI Product Group\nالمجموعة السلعية - بالوزارة",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MOCI_PRODUCT_GROUP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country of Oragen Name\nاسم بلد المنشأ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COUNTRY_OF_ORAGEN_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country of Oragen ISO\nكود 3 لبلد المنشأ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COUNTRY_OF_ORAGEN_ISO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HS Code\nرمز المنسق الجمركي",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HS_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier CR\nرقم السجل التجارى للمورد",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER_CR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name\nاسم المورد",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category Level 1\nتصنيف السلعة 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CATEGORY_LEVEL_1_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category Level 1\nتصنيف السلعة 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CATEGORY_LEVEL_1_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category Level 1\nتصنيف السلعة 3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CATEGORY_LEVEL_1_3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category Level 1\nتصنيف السلعة 4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CATEGORY_LEVEL_1_4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Width\nالعرض",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WIDTH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Height\nالطول",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HEIGHT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Depth\nالارتفاع",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DEPTH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dls_input_xlsx_product",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_productions",
								"type": "DatasetReference"
							}
						]
					}
				],
				"concurrency": 1,
				"folder": {
					"name": "PL_INITIAL_LOAD"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-20T12:55:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dls_input_xlsx_product')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_productions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_input_xlsx_product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Storage_DL_QTR"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Products",
						"fileSystem": "input"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Item Code\nرقم الصنف",
						"type": "String"
					},
					{
						"name": "Barcode\nالباركود",
						"type": "String"
					},
					{
						"name": "Product Name Arabic\nاسم الصنف عربى",
						"type": "String"
					},
					{
						"name": "Description Arabic\nوصف الصنف عربى",
						"type": "String"
					},
					{
						"name": "Product Name Arabic\nاسم الصنف انجليزى",
						"type": "String"
					},
					{
						"name": "Description Arabic\nوصف الصنف انجليزى",
						"type": "String"
					},
					{
						"name": "Unit Item Barcode\nالباركود للوحدة ",
						"type": "String"
					},
					{
						"name": "No Of Unit Items\nعدد الوحدات",
						"type": "String"
					},
					{
						"name": "Unit Weight/size\nوزن/سعة الوحدة",
						"type": "String"
					},
					{
						"name": "Unit UOM\nوحدة القياس",
						"type": "String"
					},
					{
						"name": "Package UOM\nوحدة قياس الحزمة-التغليف",
						"type": "String"
					},
					{
						"name": "Cost Price\nسعر التكلفة",
						"type": "String"
					},
					{
						"name": "Selling Price\nسعر البيع",
						"type": "String"
					},
					{
						"name": "Brand-Trade Mark English\nاسم العلامة التجارية انجليزى",
						"type": "String"
					},
					{
						"name": "Brand-Trade Mark Arabic\nاسم العلامة التجارية عربى",
						"type": "String"
					},
					{
						"name": "MoCI Product Group\nالمجموعة السلعية - بالوزارة",
						"type": "String"
					},
					{
						"name": "Country of Oragen Name\nاسم بلد المنشأ",
						"type": "String"
					},
					{
						"name": "Country of Oragen ISO\nكود 3 لبلد المنشأ",
						"type": "String"
					},
					{
						"name": "HS Code\nرمز المنسق الجمركي",
						"type": "String"
					},
					{
						"name": "Supplier CR\nرقم السجل التجارى للمورد",
						"type": "String"
					},
					{
						"name": "Supplier Name\nاسم المورد",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 1",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 2",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 3",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 4",
						"type": "String"
					},
					{
						"name": "Width\nالعرض",
						"type": "String"
					},
					{
						"name": "Height\nالطول",
						"type": "String"
					},
					{
						"name": "Depth\nالارتفاع",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_input_xlsx_product_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Storage_DL_QTR"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "0",
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Products",
						"fileSystem": "input"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Item Code\nرقم الصنف",
						"type": "String"
					},
					{
						"name": "Barcode\nالباركود",
						"type": "String"
					},
					{
						"name": "Product Name Arabic\nاسم الصنف عربى",
						"type": "String"
					},
					{
						"name": "Description Arabic\nوصف الصنف عربى",
						"type": "String"
					},
					{
						"name": "Product Name Arabic\nاسم الصنف انجليزى",
						"type": "String"
					},
					{
						"name": "Description Arabic\nوصف الصنف انجليزى",
						"type": "String"
					},
					{
						"name": "Unit Item Barcode\nالباركود للوحدة ",
						"type": "String"
					},
					{
						"name": "No Of Unit Items\nعدد الوحدات",
						"type": "String"
					},
					{
						"name": "Unit Weight/size\nوزن/سعة الوحدة",
						"type": "String"
					},
					{
						"name": "Unit UOM\nوحدة القياس",
						"type": "String"
					},
					{
						"name": "Package UOM\nوحدة قياس الحزمة-التغليف",
						"type": "String"
					},
					{
						"name": "Cost Price\nسعر التكلفة",
						"type": "String"
					},
					{
						"name": "Selling Price\nسعر البيع",
						"type": "String"
					},
					{
						"name": "Brand-Trade Mark English\nاسم العلامة التجارية انجليزى",
						"type": "String"
					},
					{
						"name": "Brand-Trade Mark Arabic\nاسم العلامة التجارية عربى",
						"type": "String"
					},
					{
						"name": "MoCI Product Group\nالمجموعة السلعية - بالوزارة",
						"type": "String"
					},
					{
						"name": "Country of Oragen Name\nاسم بلد المنشأ",
						"type": "String"
					},
					{
						"name": "Country of Oragen ISO\nكود 3 لبلد المنشأ",
						"type": "String"
					},
					{
						"name": "HS Code\nرمز المنسق الجمركي",
						"type": "String"
					},
					{
						"name": "Supplier CR\nرقم السجل التجارى للمورد",
						"type": "String"
					},
					{
						"name": "Supplier Name\nاسم المورد",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 1",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 2",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 3",
						"type": "String"
					},
					{
						"name": "Category Level 1\nتصنيف السلعة 4",
						"type": "String"
					},
					{
						"name": "Width\nالعرض",
						"type": "String"
					},
					{
						"name": "Height\nالطول",
						"type": "String"
					},
					{
						"name": "Depth\nالارتفاع",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_processing_xlsx')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "'4'"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "processing"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Transaction Date - تاريخ الحركة ",
						"type": "String"
					},
					{
						"name": "Transaction Type Code - كود نوع الحركة",
						"type": "String"
					},
					{
						"name": "Item Code - كود الصنف",
						"type": "String"
					},
					{
						"name": "Item Barcode - باركود الصنف",
						"type": "String"
					},
					{
						"name": "Your Company CR# - رقم السجل التجارى للشركة",
						"type": "String"
					},
					{
						"name": "Other Entity CR# - رقم السجل التجارى للطرف الاخر",
						"type": "String"
					},
					{
						"name": "Company Store/Inventory Code - رقم المخزن ",
						"type": "String"
					},
					{
						"name": "Quantity - الكمية",
						"type": "String"
					},
					{
						"name": "Selling Price per unit - سعر البيع للوحدة  -",
						"type": "String"
					},
					{
						"name": "Comon Referance No. -  رقم المرجع المشترك",
						"type": "String"
					},
					{
						"name": "Internal Transfer Number/Code - رقم التحويل الداخلي",
						"type": "String"
					},
					{
						"name": "Number of Consumer Invoices - عدد فواتير البيع للمستهلك",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_processing_xlsx_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Storage_DL_QTR"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "0",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "*.xlsx",
						"fileSystem": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Transaction Date - تاريخ الحركة ",
						"type": "String"
					},
					{
						"name": "Transaction Type Code - كود نوع الحركة",
						"type": "String"
					},
					{
						"name": "Item Code - كود الصنف",
						"type": "String"
					},
					{
						"name": "Item Barcode - باركود الصنف",
						"type": "String"
					},
					{
						"name": "Your Company CR# - رقم السجل التجارى للشركة",
						"type": "String"
					},
					{
						"name": "Other Entity CR# - رقم السجل التجارى للطرف الاخر",
						"type": "String"
					},
					{
						"name": "Company Store/Inventory Code - رقم المخزن ",
						"type": "String"
					},
					{
						"name": "Quantity - الكمية",
						"type": "String"
					},
					{
						"name": "Selling Price per unit - سعر البيع للوحدة  -",
						"type": "String"
					},
					{
						"name": "Comon Referance No. -  رقم المرجع المشترك",
						"type": "String"
					},
					{
						"name": "Internal Transfer Number/Code - رقم التحويل الداخلي",
						"type": "String"
					},
					{
						"name": "Number of Consumer Invoices - عدد فواتير البيع للمستهلك",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_productions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_psmsii_syntodsqlp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "BARCODE",
						"type": "nvarchar"
					},
					{
						"name": "PRODUCT_NAME_ARABIC",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION_ARABIC",
						"type": "nvarchar"
					},
					{
						"name": "PRODUCT_NAME_ENGLISH",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION_ENGLISH",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_ITEM_BARCODE",
						"type": "nvarchar"
					},
					{
						"name": "NO_OF_UNIT_ITEMS",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_WEIGHT_SIZE",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_UOM",
						"type": "nvarchar"
					},
					{
						"name": "PACKAGE_UOM",
						"type": "nvarchar"
					},
					{
						"name": "COST_PRICE",
						"type": "nvarchar"
					},
					{
						"name": "SELLING_PRICE",
						"type": "nvarchar"
					},
					{
						"name": "BRAND_TRADE_MARK_ENGLISH",
						"type": "nvarchar"
					},
					{
						"name": "BRAND_TRADE_MARK_ARABIC",
						"type": "nvarchar"
					},
					{
						"name": "MOCI_PRODUCT_GROUP",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_OF_ORAGEN_NAME",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_OF_ORAGEN_ISO",
						"type": "nvarchar"
					},
					{
						"name": "HS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_CR",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_NAME",
						"type": "nvarchar"
					},
					{
						"name": "CATEGORY_LEVEL_1_1",
						"type": "nvarchar"
					},
					{
						"name": "CATEGORY_LEVEL_1_2",
						"type": "nvarchar"
					},
					{
						"name": "CATEGORY_LEVEL_1_3",
						"type": "nvarchar"
					},
					{
						"name": "CATEGORY_LEVEL_1_4",
						"type": "nvarchar"
					},
					{
						"name": "WIDTH",
						"type": "nvarchar"
					},
					{
						"name": "HEIGHT",
						"type": "nvarchar"
					},
					{
						"name": "DEPTH",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dwh",
					"table": "STG_PRODUCTS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_xlsx_to_stg_products')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dls_input_xlsx_product",
								"type": "DatasetReference"
							},
							"name": "InputProductsxlsx"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_stg_productions",
								"type": "DatasetReference"
							},
							"name": "stgProducts"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "SurrogateKey1"
						},
						{
							"name": "Select1"
						}
					],
					"script": "parameters{\n\tfileName as string ('a')\n}\nsource(output(\n\t\t{Item Code} as string,\n\t\tBarcode as string,\n\t\t{Product Name Arabic} as string,\n\t\t{Description Arabic} as string,\n\t\t{Product Name English} as string,\n\t\t{Description English} as string,\n\t\t{Unit Item Barcode } as string,\n\t\t{No Of Unit Items} as string,\n\t\t{Unit Weight/size} as string,\n\t\t{Unit UOM} as string,\n\t\t{Package UOM} as string,\n\t\t{Cost Price} as string,\n\t\t{Selling Price} as string,\n\t\t{Brand-Trade Mark English} as string,\n\t\t{Brand-Trade Mark Arabic} as string,\n\t\t{MoCI Product Group} as string,\n\t\t{Country of Oragen Name} as string,\n\t\t{Country of Oragen ISO} as string,\n\t\t{HS Code} as string,\n\t\t{Supplier CR} as string,\n\t\t{Supplier Name} as string,\n\t\t{Category Level 1} as string,\n\t\t{Category Level 1_2} as string,\n\t\t{Category Level 1_3} as string,\n\t\t{Category Level 1_4} as string,\n\t\tWidth as string,\n\t\tHeight as string,\n\t\tDepth as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> InputProductsxlsx\nSelect1 derive(STG_FILENAME = $fileName,\n\t\tSTG_FILEDATE = left(toString(fromUTC(currentTimestamp(), 'Asia/Istanbul')),19)) ~> DerivedColumn1\nDerivedColumn1 keyGenerate(output(SK_ID_SUR as long),\n\tstartAt: 1L) ~> SurrogateKey1\nInputProductsxlsx select(mapColumn(\n\t\teach(match(true()),\n\t\t\tregexReplace($$,'[^a-zA-Z]','') = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nSurrogateKey1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tITEM_CODE as string,\n\t\tBARCODE as string,\n\t\tPRODUCT_NAME_ARABIC as string,\n\t\tDESCRIPTION_ARABIC as string,\n\t\tPRODUCT_NAME_ENGLISH as string,\n\t\tDESCRIPTION_ENGLISH as string,\n\t\tUNIT_ITEM_BARCODE as string,\n\t\tNO_OF_UNIT_ITEMS as string,\n\t\tUNIT_WEIGHT_SIZE as string,\n\t\tUNIT_UOM as string,\n\t\tPACKAGE_UOM as string,\n\t\tCOST_PRICE as string,\n\t\tSELLING_PRICE as string,\n\t\tBRAND_TRADE_MARK_ENGLISH as string,\n\t\tBRAND_TRADE_MARK_ARABIC as string,\n\t\tMOCI_PRODUCT_GROUP as string,\n\t\tCOUNTRY_OF_ORAGEN_NAME as string,\n\t\tCOUNTRY_OF_ORAGEN_ISO as string,\n\t\tHS_CODE as string,\n\t\tSUPPLIER_CR as string,\n\t\tSUPPLIER_NAME as string,\n\t\tCATEGORY_LEVEL_1_1 as string,\n\t\tCATEGORY_LEVEL_1_2 as string,\n\t\tCATEGORY_LEVEL_1_3 as string,\n\t\tCATEGORY_LEVEL_1_4 as string,\n\t\tWIDTH as string,\n\t\tHEIGHT as string,\n\t\tDEPTH as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 1,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tITEM_CODE = ItemCode,\n\t\tDS_FILENAME = STG_FILENAME\n\t)) ~> stgProducts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dls_input_xlsx_product')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_productions')]"
			]
		}
	]
}